.waiting-approval-page {
  margin: 90px 20px 0px 20px !important;
  height: 100%;
  background-color: white;
  border-radius: 14px 14px 0px 0px;
  padding: 24px;
}

.waiting-approval-page .content-header {
  border-bottom: 1px solid #ededed;
  padding-bottom: 40px;
}

.waiting-approval-page .content-table-header .right-content .ant-input {
  width: 300px;
}

.waiting-approval-page .content-table-header .right-content .ant-picker::after {
  content: url("../../../assets/picker.svg");
  width: 34px;
  margin: 6px 0px 0px 0px;
  cursor: pointer;
}

.waiting-approval-page .content-table-header .right-content .ant-space-item {
  width: 150px !important;
}

.waiting-approval-page .content-table-header .right-content .ant-input-preffix {
  margin-top: -2px;
}

.waiting-approval-page .content-table-body .ant-tag.opened {
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
  border: none;
}

.waiting-approval-page .content-table-body .ant-tag.not-opened {
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
  border: none;
  background-color: #FBDEDA !important;
  color: #EE4A49 !important;
}

.layout-dark .waiting-approval-page {
  background-color: #131313;
}

.layout-dark .waiting-approval-page .content-header {
  border-bottom: 1px solid #2e2e2e;
}

.layout-dark .waiting-approval-page .content-table-header .ant-input {
  background-color: #131313;
}

.layout-dark .waiting-approval-page .content-table-header .ant-picker {
  background-color: #131313;
  border: none !important;
}

.layout-dark .waiting-approval-detail {
  background: #161616 !important;
}

.layout-dark .waiting-approval-detail .content-header .right-content .ant-btn {
  background-color: #161616;
  border-color: #2e2e2e;
}

.layout-dark .waiting-approval-detail .content-header .right-content .status-wrapper .ant-select-selector {
  border-color: #2e2e2e !important;
  background-color: #161616;
}

.layout-dark .waiting-approval-detail .content-header .left-content > svg > circle {
  fill: #161616 !important;
  stroke: #2e2e2e;
}

.layout-dark .waiting-approval-detail .content-header .left-content > svg > path {
  fill: #f9f9f9 !important;
}

.layout-dark .waiting-approval-detail .user-information {
  border-color: #2e2e2e;
}

.layout-dark .waiting-approval-detail .user-information .left-content .information-wrapper > p:nth-child(1) {
  color: #8e8e8e;
}

.layout-dark .waiting-approval-detail .user-information .left-content .information-wrapper > p:nth-child(2) {
  color: #dbdbdb;
}

.layout-dark .waiting-approval-detail .approval-detail .left-content .document-detail {
  background-color: #161616;
  border-color: #2e2e2e;
}

.layout-dark .waiting-approval-detail .approval-detail .left-content .document-detail .document-header .left-header .header.active {
  color: #949494;
}

.layout-dark .waiting-approval-detail .approval-detail .left-content .document-detail .document-header .left-header .header {
  color: #333333;
}

.layout-dark .waiting-approval-detail .approval-detail .left-content .document-footer > p {
  color: #dbdbdb;
}

.layout-dark .waiting-approval-detail .approval-detail .right-content .ant-tabs-tab > div {
  color: #8e8e8e;
}

.layout-dark .waiting-approval-detail .approval-detail .right-content .ant-tabs-top > .ant-tabs-nav::before {
  border-color: #2e2e2e;
}

.layout-dark .waiting-approval-detail .approval-detail .right-content .form-input-wrapper .form-input {
  border-color: #2e2e2e;
}

.layout-dark .waiting-approval-detail .approval-detail .right-content .form-input-wrapper .form-input .ant-form-item-label > label {
  color: #dbdbdb;
}

.layout-dark .waiting-approval-detail .approval-detail .right-content .form-input-wrapper .form-input .ant-input {
  background-color: #121212 !important;
  border-color: #2e2e2e;
  color: #dbdbdb;
}

.layout-dark .waiting-approval-detail .approval-detail .right-content .form-input-wrapper .form-input .ant-input-affix-wrapper {
  background-color: #121212 !important;
  border-color: #2e2e2e;
}

.waiting-approval-detail {
  margin: 90px 20px 0px 20px !important;
  height: 100%;
  background-color: white;
  border-radius: 14px 14px 0px 0px;
  padding: 24px;
}

.waiting-approval-detail .content-header {
  padding-bottom: 40px;
}

.waiting-approval-detail .content-header .left-content > img {
  cursor: pointer;
}

.waiting-approval-detail .content-header .right-content .ant-btn {
  margin-right: 8px;
  color: #00AB6B;
  font-weight: 600;
  font-size: 12px;
  padding: 6px 20px 8px;
  border-radius: 4px;
  border-color: #ededed;
}

.waiting-approval-detail .content-header .right-content .ant-btn:focus {
  color: #333333;
}

.waiting-approval-detail .content-header .right-content .status-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 24px;
}

.waiting-approval-detail .content-header .right-content .status-wrapper > p {
  display: contents;
  font-size: 12px;
  font-weight: 600;
  color: #949494;
}

.waiting-approval-detail .content-header .right-content .status-wrapper .ant-select {
  margin-left: 12px;
  width: 109px;
}

.waiting-approval-detail .content-header .right-content .status-wrapper .ant-select .ant-select-selector {
  border-radius: 4px;
  border-color: #ededed;
  color: #00AB6B;
  font-size: 12px;
  font-weight: 600;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.waiting-approval-detail .user-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #ededed;
  padding-bottom: 4px;
}

.waiting-approval-detail .user-information .left-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.waiting-approval-detail .user-information .left-content .information-wrapper {
  margin-right: 24px;
}

.waiting-approval-detail .user-information .left-content .information-wrapper > p:nth-child(1) {
  font-size: 12px;
  font-weight: 700;
  color: #949494;
}

.waiting-approval-detail .user-information .left-content .information-wrapper > p:nth-child(2) {
  font-size: 14px;
  font-weight: 700;
  color: #333333;
  margin-top: -10px;
}

.waiting-approval-detail .user-information .right-content .reject {
  margin-right: 8px;
  color: #ffff;
  background-color: #DC2F18;
  font-weight: 600;
  font-size: 12px;
  border-radius: 4px;
  border: none;
}

.waiting-approval-detail .user-information .right-content .reject > img {
  margin-right: 8px;
}

.waiting-approval-detail .user-information .right-content .approve {
  color: #ffff;
  background-color: #00AB6B;
  font-weight: 600;
  font-size: 12px;
  border-radius: 4px;
  border: none;
}

.waiting-approval-detail .user-information .right-content .approve > img {
  margin-right: 8px;
}

.waiting-approval-detail .approval-detail {
  margin-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.waiting-approval-detail .approval-detail .left-content {
  width: 28%;
}

.waiting-approval-detail .approval-detail .left-content .document-detail {
  background-color: #F9F9F9;
  padding: 12px 12px 12px 12px;
  border-radius: 10px;
  border: 1px solid #ededed;
  height: 375px;
  max-width: 340px;
}

.waiting-approval-detail .approval-detail .left-content .document-detail .document-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 12px;
  font-weight: 700;
}

.waiting-approval-detail .approval-detail .left-content .document-detail .document-header .left-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.waiting-approval-detail .approval-detail .left-content .document-detail .document-header .left-header .header {
  margin-right: 16px;
  color: #949494;
}

.waiting-approval-detail .approval-detail .left-content .document-detail .document-header .left-header .header.active {
  color: #333333;
}

.waiting-approval-detail .approval-detail .left-content .document-detail .document-header .right-header .header {
  color: #00AB6B;
  cursor: pointer;
}

.waiting-approval-detail .approval-detail .left-content .document-detail .document-image > img {
  margin: 12px 0px;
  height: 315px;
  border-radius: 10px;
  width: -webkit-fill-available;
}

.waiting-approval-detail .approval-detail .left-content .document-detail .document-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 10px;
  margin-top: -50px;
  padding: 0px 16px;
  background: rgba(0, 0, 0, 0.5);
}

.waiting-approval-detail .approval-detail .left-content .document-detail .document-control .right-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 20px;
  margin-top: 2px;
  margin-left: 100px;
}

.waiting-approval-detail .approval-detail .left-content .document-detail .document-control .right-content > img:not(:last-child) {
  margin-right: 12px;
  cursor: pointer;
}

.waiting-approval-detail .approval-detail .left-content .document-detail .document-control .left-content {
  cursor: pointer;
}

.waiting-approval-detail .approval-detail .left-content .document-footer {
  margin-top: 32px;
}

.waiting-approval-detail .approval-detail .left-content .document-footer > p {
  font-size: 14px;
  font-weight: 700;
}

.waiting-approval-detail .approval-detail .left-content .document-footer .footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.waiting-approval-detail .approval-detail .left-content .document-footer .footer-list > p {
  font-size: 12px;
  font-weight: 700;
  color: #00AB6B;
  width: 98px;
  margin-right: 12px;
  background-color: #E6F7F0;
  padding: 8px 0px;
  text-align: center;
  border-radius: 4px;
}

.waiting-approval-detail .approval-detail .right-content {
  width: 82%;
  margin-left: 20px;
  margin-top: -20px;
}

.waiting-approval-detail .approval-detail .right-content .ant-tabs-nav-list {
  font-size: 12px;
  font-weight: 700;
}

.waiting-approval-detail .approval-detail .right-content .ant-tabs-nav-list .ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #00AB6B;
}

.waiting-approval-detail .approval-detail .right-content .ant-tabs-nav-list .ant-tabs-ink-bar {
  background: #00AB6B !important;
}

.waiting-approval-detail .approval-detail .right-content .ant-tabs-nav-list .ant-tabs-tab:hover {
  color: #00AB6B;
}

.waiting-approval-detail .approval-detail .right-content .form-input-wrapper {
  margin-right: 40px;
}

.waiting-approval-detail .approval-detail .right-content .form-input-wrapper .form-input {
  height: 387px;
  overflow: auto;
  border-bottom: 1px solid #ededed;
}

.waiting-approval-detail .approval-detail .right-content .form-input-wrapper .form-input .ant-form-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.waiting-approval-detail .approval-detail .right-content .form-input-wrapper .form-input .valid-input .ant-input {
  color: #00AB6B;
  font-weight: 700;
}

.waiting-approval-detail .approval-detail .right-content .form-input-wrapper .form-input .ant-form-item-label > label::after {
  display: none;
}

.waiting-approval-detail .approval-detail .right-content .form-input-wrapper .form-input .ant-form-item-label > label {
  font-size: 14px;
  color: #333333;
}

.waiting-approval-detail .approval-detail .right-content .form-input-wrapper .form-input .ant-form-item-label {
  text-align: left;
}

.waiting-approval-detail .approval-detail .right-content .form-input-wrapper .form-input .ant-input {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #ededed;
  height: 40px;
  border-radius: 4px;
}

.waiting-approval-detail .approval-detail .right-content .form-input-wrapper .form-input .ant-input:focus {
  border-color: #00AB6B;
}

.waiting-approval-detail .approval-detail .right-content .form-input-wrapper .form-input .ant-input:hover {
  border-color: #00AB6B;
}

.waiting-approval-detail .approval-detail .right-content .form-input-wrapper .form-input .multiple-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.waiting-approval-detail .approval-detail .right-content .form-input-wrapper .form-input .multiple-input .ant-form-item {
  width: 50%;
}

.waiting-approval-detail .approval-detail .right-content .form-input-wrapper .form-input .multiple-input .ant-form-item:nth-child(1) {
  margin-right: 16px;
}

.waiting-approval-detail .approval-detail .right-content .form-input-wrapper .button-footer {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.waiting-approval-detail .approval-detail .right-content .form-input-wrapper .button-footer .ant-btn {
  font-weight: 600;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  background-color: #00AB6B;
}

.waiting-approval-detail .approval-detail .right-content .payment-input .form-input-wrapper .form-input .ant-input {
  background-color: #F9F9F9;
}

.waiting-approval-detail .approval-detail .right-content .kyc-input .form-input-wrapper .form-input .ant-input {
  background-color: #F9F9F9;
  border: none;
}

.waiting-approval-detail .approval-detail .right-content .kyc-input .form-input-wrapper .form-input .ant-input-affix-wrapper {
  background-color: #F9F9F9;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.waiting-approval-detail .approval-detail .right-content .kyc-input .form-input-wrapper .form-input .ant-input-affix-wrapper-focused {
  border-color: #00AB6B;
}

.waiting-approval-detail .approval-detail .right-content .kyc-input .form-input-wrapper .form-input .ant-input-affix-wrapper:hover {
  border-color: #00AB6B;
}

.waiting-approval-detail .approval-detail .right-content .kyc-input .form-input-wrapper .form-input .anticon-delete {
  cursor: pointer;
}

.waiting-approval-detail .approval-detail .right-content .kyc-input .form-input-wrapper .form-input .anticon-delete > svg {
  color: #EE4A49;
}

.waiting-approval-detail .approval-detail .right-content .file-edd-input .form-input-wrapper .form-input .ant-input {
  background-color: #F9F9F9;
  border: none;
}

.waiting-approval-detail .approval-detail .right-content .file-edd-input .form-input-wrapper .form-input .ant-input-affix-wrapper {
  background-color: #F9F9F9;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin-bottom: 16px;
}

.waiting-approval-detail .approval-detail .right-content .file-edd-input .form-input-wrapper .form-input .ant-input-affix-wrapper-focused {
  border-color: #00AB6B;
}

.waiting-approval-detail .approval-detail .right-content .file-edd-input .form-input-wrapper .form-input .ant-input-affix-wrapper:hover {
  border-color: #00AB6B;
}

.waiting-approval-detail .approval-detail .right-content .file-edd-input .form-input-wrapper .form-input .ant-input-prefix > svg {
  cursor: pointer;
}

.compare-modal {
  border-radius: 40px;
}

.compare-modal .ant-modal-footer {
  display: none;
}

.compare-modal .ant-modal-content {
  border-radius: 10px;
}

.compare-modal .ant-modal-header {
  border-radius: 10px;
}

.compare-modal .ant-modal-header .ant-modal-title {
  font-size: 18px;
  font-weight: 700;
}

.compare-modal .ant-modal-body {
  height: 480px;
}

.compare-modal .ant-modal-body .modal-body-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.compare-modal .ant-modal-body .modal-body-wrapper .left-content {
  margin-right: 20px;
}

.compare-modal .ant-modal-body .modal-body-wrapper .left-content > p:nth-child(1) {
  font-size: 14px;
  font-weight: 700;
}

.compare-modal .ant-modal-body .modal-body-wrapper .left-content > img {
  width: 400px;
  border-radius: 10px;
}

.compare-modal .ant-modal-body .modal-body-wrapper .right-content .ant-tabs-nav-list {
  color: #b5b5b5;
  font-size: 12px;
  font-weight: 700;
}

.compare-modal .ant-modal-body .modal-body-wrapper .right-content .ant-tabs-nav-list .ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #00AB6B;
}

.compare-modal .ant-modal-body .modal-body-wrapper .right-content .ant-tabs-nav-list .ant-tabs-ink-bar {
  background: #00AB6B !important;
}

.compare-modal .ant-modal-body .modal-body-wrapper .right-content .ant-tabs-nav-list .ant-tabs-tab:hover {
  color: #00AB6B;
}

.compare-modal .ant-modal-body .modal-body-wrapper .right-content .edd-tab .main-photo {
  margin-bottom: 12px;
}

.compare-modal .ant-modal-body .modal-body-wrapper .right-content .edd-tab .main-photo > img {
  border-radius: 10px;
  width: 290px;
}

.compare-modal .ant-modal-body .modal-body-wrapper .right-content .edd-tab .sub-photo > img {
  margin-right: 12px;
}

.compare-modal .ant-modal-body .modal-body-wrapper .right-content .signature-tab > img {
  border-radius: 10px;
  border: 2px solid #ededed;
}

@media (max-width: 1499px) {
  .waiting-approval-page .ant-table-content > table {
    min-width: 100% !important;
  }
}
/*# sourceMappingURL=WaitingApproval.css.map */