.waiting-approval-page{
    margin: 90px 20px 0px 20px !important;
    height: 100%;
    background-color: white;
    border-radius: 14px 14px 0px 0px;
    padding: 24px;
    .content-header{
        border-bottom: 1px solid #ededed;
        padding-bottom: 40px;
    }
    .content-table-header{
        .right-content{
            .ant-input{
                width: 300px;
            }
            .ant-picker::after{
                content:url('../../../assets/picker.svg');
                width: 34px;
                margin: 6px 0px 0px 0px;
                cursor: pointer;
            }
            .ant-space-item{
                width: 150px !important;
            }
            .ant-input-preffix{
                margin-top: -2px;
            }
        }
    }
    .content-table-body{
        .ant-tag.opened{
            width: fit-content !important;
            border: none;
        }
        .ant-tag.not-opened{
            width: fit-content !important;
            border: none;
            background-color: #FBDEDA !important;
            color: #EE4A49 !important;
        }
    }
}

.layout-dark{
    .waiting-approval-page{
        background-color: #131313;
        .content-header{
            border-bottom: 1px solid #2e2e2e;
        }
        .content-table-header{
            .ant-input{
                background-color: #131313;
            }
            .ant-picker{
                background-color: #131313;
                border: none !important;
            }
        }
    }
    .waiting-approval-detail{
        background: #161616 !important;
        .content-header{
            .right-content{
                .ant-btn{
                    background-color: #161616;
                    border-color: #2e2e2e;
                }
                .status-wrapper{
                    .ant-select-selector{
                        border-color: #2e2e2e !important;
                        background-color: #161616;
                    }
                }
            }
            .left-content{
                >svg >circle{
                    fill: #161616 !important;
                    stroke: #2e2e2e;
                }
                >svg >path{
                    fill: #f9f9f9 !important;
                }
            }
        }
        .user-information{
            border-color: #2e2e2e;
            .left-content{
                .information-wrapper{
                    >p:nth-child(1){
                        color: #8e8e8e;
                    }
                    >p:nth-child(2){
                        color: #dbdbdb;
                    }
                }
            }
        }
        .approval-detail{
            .left-content{
                .document-detail{
                    background-color: #161616;
                    border-color: #2e2e2e;
                    .document-header{
                        .left-header{
                            .header.active{
                                color: #949494;
                            }
                            .header{
                                color: #333333;
                            }
                        }
                    }
                }
                .document-footer{
                    >p{
                        color: #dbdbdb;
                    }
                }
            }
            .right-content{
                .ant-tabs-tab >div{
                    color: #8e8e8e;
                }
                .ant-tabs-top > .ant-tabs-nav::before{
                    border-color: #2e2e2e;
                }
                .form-input-wrapper{
                    .form-input{
                        border-color: #2e2e2e;
                        .ant-form-item-label{
                            >label{
                                color: #dbdbdb;
                            }
                        }
                        .ant-input{
                            background-color: #121212 !important;
                            border-color: #2e2e2e;
                            color: #dbdbdb;
                        }
                        .ant-input-affix-wrapper{
                            background-color: #121212 !important;
                            border-color: #2e2e2e;
                        }
                    }
                }
            }
        }
    }
}

.waiting-approval-detail{
    margin: 90px 20px 0px 20px !important;
    height: 100%;
    background-color: white;
    border-radius: 14px 14px 0px 0px;
    padding: 24px;
    .content-header{
        padding-bottom: 40px;
        .left-content{
            >img{
                cursor: pointer;
            }
        }
        .right-content{
            .ant-btn{
                margin-right: 8px;
                color: #00AB6B;
                font-weight: 600;
                font-size: 12px;
                padding: 6px 20px 8px;
                border-radius: 4px;
                border-color: #ededed;
            }
            .ant-btn:focus{
                color: #333333;
            }
            .status-wrapper{
                display: flex;
                align-items: center;
                margin-left: 24px;
                >p{
                    display: contents;
                    font-size: 12px;
                    font-weight: 600;
                    color: #949494;
                }
                .ant-select{
                    margin-left: 12px;
                    width: 109px;
                    .ant-select-selector{
                        border-radius: 4px;
                        border-color: #ededed;
                        color: #00AB6B;
                        font-size: 12px;
                        font-weight: 600;
                        box-shadow: none;
                    }
                }
            }
        }
    }
    .user-information{
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #ededed;
        padding-bottom: 4px;
        .left-content{
            display: flex;
            .information-wrapper{
                margin-right: 24px;
                >p:nth-child(1){
                    font-size: 12px;
                    font-weight: 700;
                    color: #949494;
                }
                >p:nth-child(2){
                    font-size: 14px;
                    font-weight: 700;
                    color: #333333;
                    margin-top: -10px;
                }
            }
        }
        .right-content{
            .reject{
                margin-right: 8px;
                color: #ffff;
                background-color: #DC2F18;
                font-weight: 600;
                font-size: 12px;
                border-radius: 4px;
                border: none;
                >img{
                    margin-right: 8px;
                }
            }
            .approve{
                color: #ffff;
                background-color: #00AB6B;
                font-weight: 600;
                font-size: 12px;
                border-radius: 4px;
                border: none;
                >img{
                    margin-right: 8px;
                }
            }
        }
    }
    .approval-detail{
        margin-top: 24px;
        display: flex;
        .left-content{
            width: 28%;
            .document-detail{
                background-color: #F9F9F9;
                padding: 12px 12px 12px 12px;
                border-radius: 10px;
                border: 1px solid #ededed;
                height: 375px;
                max-width: 340px;
                .document-header{
                    display: flex;
                    justify-content: space-between;
                    font-size: 12px;
                    font-weight: 700;
                    .left-header{
                        display: flex;
                        .header{
                            margin-right: 16px;
                            color: #949494;
                        }
                        .header.active{
                            color: #333333;
                        }
                    }
                    .right-header{
                        .header{
                            color: #00AB6B;
                            cursor: pointer;
                        }
                    }
                }
                .document-image{
                    >img{
                        margin: 12px 0px;
                        height: 315px;
                        border-radius: 10px;
                        width: -webkit-fill-available;
                    }
                }
                .document-control{
                    display: flex;
                    justify-content: space-between;
                    border-radius: 10px;
                    margin-top: -50px;
                    padding: 0px 16px;
                    background: rgba(0, 0, 0, 0.5);
                    .right-content{
                        display: flex;
                        height: 20px;
                        margin-top: 2px;
                        margin-left: 100px;
                        >img:not(:last-child){
                            margin-right: 12px;
                            cursor: pointer;
                        }
                    }
                    .left-content{
                        cursor: pointer;
                    }
                }
            }
            .document-footer{
                margin-top: 32px;
                >p{
                    font-size: 14px;
                    font-weight: 700;
                }
                .footer-list{
                    display: flex;
                    >p{
                        font-size: 12px;
                        font-weight: 700;
                        color: #00AB6B;
                        width: 98px;
                        margin-right: 12px;
                        background-color: #E6F7F0;
                        padding: 8px 0px;
                        text-align: center;
                        border-radius: 4px;
                    }
                }
            }
        }
        .right-content{
            width: 82%;
            margin-left: 20px;
            margin-top: -20px;
            .ant-tabs-nav-list{
                font-size: 12px;
                font-weight: 700;
                .ant-tabs-tab-active{
                    .ant-tabs-tab-btn{
                        color: #00AB6B;
                    }
                }
                .ant-tabs-ink-bar{
                    background: #00AB6B !important;
                }
                .ant-tabs-tab:hover{
                    color: #00AB6B;
                }
            }
            .form-input-wrapper{
                margin-right: 40px;
                .form-input{
                    height: 387px;
                    overflow: auto;
                    border-bottom: 1px solid #ededed;
                    .ant-form-item{
                        display: flex;
                        flex-direction: column;
                    }
                    .valid-input{
                        .ant-input{
                            color: #00AB6B;
                            font-weight: 700;
                        }
                    }
                    
                    .ant-form-item-label > label::after{
                        display: none;
                    }
                    .ant-form-item-label > label{
                        font-size: 14px;
                        color: #333333;
                    }
                    .ant-form-item-label{
                        text-align: left;
                    }
                    .ant-input{
                        box-shadow: none;
                        border: 1px solid #ededed;
                        height: 40px;
                        border-radius: 4px;
                    }
                    .ant-input:focus{
                        border-color: #00AB6B;
                    }
                    .ant-input:hover{
                        border-color: #00AB6B;
                    }
                    .multiple-input{
                        display: flex;
                        justify-content: space-between;
                        .ant-form-item{
                            width: 50%;
                        }
                        .ant-form-item:nth-child(1){
                            margin-right: 16px;
                        }
                    }
                }
                .button-footer{
                    margin-top: 15px;
                    display: flex;
                    justify-content: flex-end;
                    .ant-btn{
                        font-weight: 600;
                        color: #ffffff; 
                        border: none;
                        border-radius: 4px;
                        background-color: #00AB6B;
                    }
                }
            }
            .payment-input{
                .form-input-wrapper{
                    .form-input{
                        .ant-input{
                            background-color: #F9F9F9;
                        }
                    }
                }
            }
            .kyc-input{
                .form-input-wrapper{
                    .form-input{
                        .ant-input{
                            background-color: #F9F9F9;
                            border: none;
                        }
                        .ant-input-affix-wrapper{
                            background-color: #F9F9F9;  
                            box-shadow: none; 
                            flex-direction: row-reverse;
                        }
                        .ant-input-affix-wrapper-focused{
                            border-color: #00AB6B;
                        }
                        .ant-input-affix-wrapper:hover{
                            border-color: #00AB6B;
                        }
                        .anticon-delete{
                            cursor: pointer;
                            >svg{
                                color: #EE4A49;
                            }
                        }
                    }
                }
            }
            .file-edd-input{
                .form-input-wrapper{
                    .form-input{
                        .ant-input{
                            background-color: #F9F9F9;
                            border: none;
                        }
                        .ant-input-affix-wrapper{
                            background-color: #F9F9F9;  
                            box-shadow: none; 
                            flex-direction: row-reverse;
                            margin-bottom: 16px;

                        }
                        .ant-input-affix-wrapper-focused{
                            border-color: #00AB6B;
                        }
                        .ant-input-affix-wrapper:hover{
                            border-color: #00AB6B;
                        }
                        .ant-input-prefix{
                            >svg{
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
    }
}

.compare-modal{
    border-radius: 40px;
    .ant-modal-footer{
        display: none;
    }
    .ant-modal-content{
        border-radius: 10px;
    }
    .ant-modal-header{
        border-radius: 10px;
        .ant-modal-title{
            font-size: 18px;
            font-weight: 700;
        }
    }
    .ant-modal-body{
        height: 480px;
        .modal-body-wrapper{
            display: flex;
            .left-content{
                margin-right: 20px;
                >p:nth-child(1){
                    font-size: 14px;
                    font-weight: 700;
                }
                >img{
                    width: 400px;
                    border-radius: 10px;
                }
            }
            .right-content{

                .ant-tabs-nav-list{
                    color: #b5b5b5;
                    font-size: 12px;
                    font-weight: 700;
                    .ant-tabs-tab-active{
                        .ant-tabs-tab-btn{
                            color: #00AB6B;
                        }
                    }
                    .ant-tabs-ink-bar{
                        background: #00AB6B !important;
                    }
                    .ant-tabs-tab:hover{
                        color: #00AB6B;
                    }
                }
                .edd-tab{
                    .main-photo{
                        margin-bottom: 12px;
                        >img {
                            border-radius: 10px;
                            width: 290px;
                        }
                    }
                    .sub-photo{
                        >img{
                            margin-right: 12px;
                        }
                    }
                }
                .signature-tab{
                    >img{
                        border-radius: 10px;
                        border: 2px solid #ededed;
                    }
                }
            }
        }
    }
}

@media (max-width : 1499px){
    .waiting-approval-page{
        .ant-table-content > table{
            min-width: 100% !important;
        }
    }
}