@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
body {
  background-color: #f0f2f5 !important;
}

.layout-dark .ant-layout {
  background-color: #2E2E2E !important;
}

.ant-layout {
  overflow: hidden;
  height: 100vh;
}

.type-open-sans {
  font-family: "Open Sans", sans-serif;
}

.type-lato {
  font-family: "Lato", sans-serif;
}

.type-noto {
  font-family: 'Noto Sans', sans-serif;
}

.back-office-header.dark-mode .ant-layout-header {
  background: #161616 !important;
}

.back-office-header.dark-mode .ant-layout-header .ant-menu {
  background: #161616 !important;
}

.back-office-header.dark-mode .ant-layout-header .ant-menu-item {
  background: #161616 !important;
}

.back-office-header.dark-mode .center-side-menu-wrapper .ant-input-affix-wrapper {
  background: #2E2E2E !important;
  border: 1px solid #2E2E2E;
}

.back-office-header.dark-mode .center-side-menu-wrapper .ant-input {
  background: #2E2E2E !important;
  color: #DBDBDB !important;
}

.back-office-header.dark-mode .right-side-menu-wrapper > p {
  color: rgba(219, 219, 219, 0.8) !important;
}

.back-office-header.dark-mode .right-side-menu-wrapper > span > svg {
  color: #8E8E8E;
}

.back-office-header.dark-mode .right-side-menu-wrapper .switch-typhography {
  margin-left: 16px;
}

.back-office-header.dark-mode .right-side-menu-wrapper .switch-typhography .ant-select .ant-select-selector {
  background: #2E2E2E !important;
  border: none !important;
}

.back-office-header.dark-mode .right-side-menu-wrapper .switch-typhography .ant-select .ant-select-selection-item {
  font-size: 12px;
  font-weight: 600;
  color: #DBDBDB !important;
}

.back-office-header.dark-mode .right-side-menu-wrapper .switch-typhography .ant-select .ant-select-selection-placeholder {
  font-size: 12px;
  font-weight: 600;
}

.back-office-header.dark-mode .right-side-menu-wrapper .switch-typhography .ant-select .anticon > svg {
  font-size: 10px;
  font-weight: 600;
  color: #DBDBDB !important;
}

.back-office-header.dark-mode .right-side-menu-wrapper .switch-typhography .ant-select-focused .ant-select-selector {
  border: 1px solid #00AB6B !important;
}

.back-office-header {
  z-index: 1000;
  width: 100%;
  position: fixed;
}

.back-office-header .ant-layout-header {
  background: #FFFF;
}

.back-office-header .ant-layout-header > ul .left-side-menu {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
}

.back-office-header .header {
  width: calc(100% - 230px);
}

.back-office-header .header-collapse {
  width: 100%;
}

.back-office-header .ant-menu {
  background: #ffff !important;
  height: 64px !important;
}

.back-office-header .ant-menu-item {
  margin-top: -2px !important;
}

.back-office-header .back-office-text {
  color: #00AB6B;
  font-weight: 700;
}

.back-office-header .left-side-menu-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -55px;
  height: 64px !important;
}

.back-office-header .left-side-menu-wrapper .sidebar-toogle {
  display: none;
}

.back-office-header .left-side-menu-wrapper .sidebar-toogle-show {
  display: block;
  margin-right: 14px;
}

.back-office-header .left-side-menu-wrapper > img:nth-child(2) {
  margin-right: 13px;
  width: 80px !important;
}

.back-office-header .left-side-menu-wrapper > img:nth-child(1) {
  margin-right: 16px;
  margin-top: 2px;
  width: 45px;
  cursor: pointer;
}

.back-office-header .left-side-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: default;
}

.back-office-header .ant-input-affix-wrapper:hover {
  border: 1px solid #00AB6B !important;
}

.back-office-header .ant-input-affix-wrapper-focused {
  border-color: #00AB6B !important;
}

.back-office-header .center-side-menu-wrapper {
  padding-top: 2px;
}

.back-office-header .center-side-menu-wrapper .ant-input-affix-wrapper {
  width: 320px;
  height: 30px;
  background: #FFFFFF;
  border: 1px solid #EDEDED;
  border-radius: 24px;
}

.back-office-header .center-side-menu-wrapper .ant-input {
  text-align: center;
}

.back-office-header .center-side-menu-wrapper .ant-input-prefix .anticon {
  display: none;
}

.back-office-header .center-side-menu-wrapper .ant-input-prefix::after {
  content: url("../../assets/Search.svg");
  margin-top: 3px;
}

.back-office-header .center-side-menu-wrapper .anticon.search {
  color: black;
}

.back-office-header .right-side-menu-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: -50px;
}

.back-office-header .right-side-menu-wrapper > p {
  color: #969696;
  font-size: 12px;
  font-weight: 600;
  height: 44px;
  display: contents;
  margin-right: 13px;
}

.back-office-header .right-side-menu-wrapper > span {
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.back-office-header .right-side-menu-wrapper > span > svg {
  color: black;
}

.back-office-header .right-side-menu-wrapper > img {
  margin-left: 13px;
  width: 40px;
  margin-right: 7px;
  cursor: pointer;
}

.back-office-header .right-side-menu-wrapper > button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  margin-right: 10px;
}

.back-office-header .right-side-menu-wrapper .ant-switch-checked {
  background: #00AB6B !important;
}

.back-office-header .right-side-menu-wrapper .switch-typhography {
  margin-right: 12px;
}

.back-office-header .right-side-menu-wrapper .switch-typhography .ant-select {
  text-align: center;
}

.back-office-header .right-side-menu-wrapper .switch-typhography .ant-select .ant-select-selector {
  border: 1px solid #EDEDED;
  border-radius: 50px;
  font-size: 12px;
  background-color: #ffff !important;
}

.back-office-header .right-side-menu-wrapper .switch-typhography .ant-select .ant-selector:hover {
  border: 1px solid #3333;
}

.back-office-header .right-side-menu-wrapper .switch-typhography .ant-select .ant-select-selection-item {
  font-size: 12px;
  font-weight: 600;
  color: #333333;
}

.back-office-header .right-side-menu-wrapper .switch-typhography .ant-select .ant-select-selection-placeholder {
  font-size: 12px;
  font-weight: 600;
}

.back-office-header .right-side-menu-wrapper .switch-typhography .ant-select .anticon > svg {
  font-size: 10px;
  font-weight: 600;
  color: #333333;
}

.back-office-header .right-side-menu-wrapper .switch-typhography .ant-select-focused .ant-select-selector {
  border: 1px solid #00AB6B !important;
}

.back-office-header .ant-menu-item-active {
  background: #ffff !important;
}

.back-office-header .ant-menu-item-selected {
  background: #ffff !important;
}

.back-office-sider {
  overflow: auto !important;
  height: 100vh !important;
  position: -webkit-sticky !important;
  position: sticky !important;
  left: 0 !important;
  background: url(../../assets/background-sidebar.svg) !important;
  background-repeat: no-repeat;
  background-size: cover;
}

.back-office-sider .ant-layout-sider-children {
  background: rgba(22, 22, 22, 0.9);
  -webkit-box-shadow: 0 8px 32px 0;
          box-shadow: 0 8px 32px 0;
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
}

.back-office-sider .ant-layout-sider-children .ant-menu {
  background: none !important;
}

.back-office-sider .ant-layout-sider-children .sidebar-toogle {
  padding: 8px;
  background: #161616;
  height: 64px;
  cursor: pointer;
}

.back-office-sider .ant-menu-submenu-active {
  background: none;
  color: #FFFF;
}

.back-office-sider .ant-menu-submenu-active .ant-menu-submenu-title {
  color: #00AB6B !important;
}

.back-office-sider .ant-menu-submenu-active .ant-menu-submenu-arrow {
  color: #FFFFFF, 100% !important;
  font-weight: 600;
}

.back-office-sider .ant-menu-submenu:hover .ant-menu-submenu-arrow {
  color: #ffff, 100% !important;
}

.back-office-sider .ant-menu-inline:hover .ant-menu-submenu-arrow {
  color: #ffff, 100% !important;
}

.back-office-sider .ant-menu-submenu-title {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.back-office-sider .ant-menu-submenu-open .ant-menu-submenu-title {
  color: #00AB6B !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.back-office-sider .ant-menu-submenu-open .ant-menu-submenu-title > :first-child {
  margin-right: 3px !important;
  margin-left: -7px !important;
}

.back-office-sider .ant-menu-submenu {
  border-bottom: 1px solid #2E2E2E;
}

.back-office-sider .ant-menu-submenu .ant-menu-submenu-title {
  color: rgba(219, 219, 219, 0.8);
  font-size: 12px;
  font-weight: 700;
  margin-top: 0px !important;
}

.back-office-sider .ant-menu-submenu .ant-menu-submenu-arrow {
  color: rgba(219, 219, 219, 0.8) !important;
}

.back-office-sider .ant-menu-submenu .ant-menu-item {
  color: #ffff !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  font-weight: 600;
  padding-left: 30px !important;
}

.back-office-sider .ant-menu-submenu .ant-menu-item .right-sub-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 155px;
  min-width: 155px;
}

.back-office-sider .ant-menu-submenu .ant-menu-item .right-sub-menu > img {
  margin-right: 5px;
}

.back-office-sider .ant-menu-submenu .ant-menu-item .right-sub-menu > span {
  color: rgba(219, 219, 219, 0.8);
  font-weight: 600;
  font-size: 12px !important;
}

.back-office-sider .ant-menu-submenu .ant-menu-item .left-sub-menu {
  color: rgba(219, 219, 219, 0.8);
}

.back-office-sider .ant-menu-submenu .ant-menu-item-selected {
  background: none !important;
  color: #00AB6B !important;
}

.back-office-sider .ant-menu-submenu .ant-menu-item-selected .right-sub-menu > span {
  color: #00AB6B !important;
}

.back-office-sider .ant-menu-submenu .ant-menu-item-selected .left-sub-menu {
  color: #00AB6B !important;
}

.back-office-sider .ant-menu-submenu .ant-menu-item::after {
  border-right: 4px solid #00AB6B !important;
}

.back-office-sider .ant-menu-submenu .ant-menu-sub {
  border-top: 1px solid #2E2E2E;
}

.back-office-sider .ant-menu-submenu .ant-menu-sub .ant-menu-item-selected {
  background-color: rgba(25, 179, 122, 0.1) !important;
}

.back-office-sider-off {
  overflow: auto !important;
  height: 100vh !important;
  left: 0 !important;
  background: url(../../assets/background-sidebar.svg) !important;
  background-repeat: no-repeat;
  background-size: cover;
}

.back-office-sider-off .ant-layout-sider-children {
  background: rgba(255, 255, 255, 0.85);
  -webkit-box-shadow: 0 8px 32px 0;
          box-shadow: 0 8px 32px 0;
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
}

.back-office-sider-off .ant-layout-sider-children .ant-menu {
  background: none !important;
}

.back-office-sider-off .ant-layout-sider-children .sidebar-toogle {
  padding: 8px;
  background: white;
  height: 64px;
  cursor: pointer;
}

.back-office-sider-off .ant-menu-submenu-active {
  background: none;
  color: #333333;
}

.back-office-sider-off .ant-menu-submenu-active .ant-menu-submenu-title {
  color: #00AB6B !important;
}

.back-office-sider-off .ant-menu-submenu-active .ant-menu-submenu-arrow {
  color: #333333, 100% !important;
  font-weight: 600;
}

.back-office-sider-off .ant-menu-submenu:hover .ant-menu-submenu-arrow {
  color: #333333, 100% !important;
}

.back-office-sider-off .ant-menu-inline:hover .ant-menu-submenu-arrow {
  color: #333333, 100% !important;
}

.back-office-sider-off .ant-menu-submenu-title {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.back-office-sider-off .ant-menu-submenu-open .ant-menu-submenu-title {
  color: #00AB6B !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.back-office-sider-off .ant-menu-submenu-open .ant-menu-submenu-title > :first-child {
  margin-right: 3px !important;
  margin-left: -7px !important;
}

.back-office-sider-off .ant-menu-submenu {
  border-bottom: 1px solid #EDEDED;
}

.back-office-sider-off .ant-menu-submenu .ant-menu-submenu-title {
  color: #333333;
  font-size: 12px;
  font-weight: 700;
  margin-top: 0px !important;
}

.back-office-sider-off .ant-menu-submenu .ant-menu-submenu-arrow {
  color: #3333 !important;
}

.back-office-sider-off .ant-menu-submenu .ant-menu-item {
  color: #ffff !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  font-weight: 600;
  padding-left: 30px !important;
}

.back-office-sider-off .ant-menu-submenu .ant-menu-item .right-sub-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 155px;
  min-width: 155px;
}

.back-office-sider-off .ant-menu-submenu .ant-menu-item .right-sub-menu > img {
  margin-right: 5px;
}

.back-office-sider-off .ant-menu-submenu .ant-menu-item .right-sub-menu > span {
  color: RGBA(51, 51, 51, 0.7);
  font-weight: 600;
  font-size: 12px !important;
}

.back-office-sider-off .ant-menu-submenu .ant-menu-item .left-sub-menu {
  color: RGBA(51, 51, 51, 0.7);
}

.back-office-sider-off .ant-menu-submenu .ant-menu-item-selected {
  background: none !important;
  color: #00AB6B !important;
}

.back-office-sider-off .ant-menu-submenu .ant-menu-item-selected .right-sub-menu > span {
  color: #00AB6B !important;
}

.back-office-sider-off .ant-menu-submenu .ant-menu-item-selected .left-sub-menu {
  color: #00AB6B !important;
}

.back-office-sider-off .ant-menu-submenu .ant-menu-item::after {
  border-right: 4px solid #00AB6B !important;
}

.back-office-sider-off .ant-menu-submenu .ant-menu-sub {
  border-top: 1px solid #EDEDED;
}

.back-office-sider-off .ant-menu-submenu .ant-menu-sub .ant-menu-item-selected {
  background-color: rgba(25, 179, 122, 0.1) !important;
}

.layout-dark .ant-layout-content .back-office-content {
  background: #161616 !important;
}

.layout-dark .ant-layout-content .content-header .left-content > p:nth-child(1) {
  color: #DBDBDB;
}

.layout-dark .ant-layout-content .content-amount {
  border-bottom: 1px solid #2E2E2E;
}

.layout-dark .ant-layout-content .content-amount .left-content > p:nth-child(1) {
  color: #8E8E8E !important;
}

.layout-dark .ant-layout-content .content-amount .left-content > p:nth-child(2) {
  color: #DBDBDB !important;
}

.layout-dark .ant-layout-content .content-amount .right-content > button:nth-child(1) {
  background: #161616 !important;
  border: 1px solid #2E2E2E !important;
  margin-right: 16px;
}

.layout-dark .ant-layout-content .content-amount .right-content > button:nth-child(1) > span {
  color: #DBDBDB !important;
}

.layout-dark .ant-layout-content .content-amount .right-content > button:nth-child(2) {
  background: #161616 !important;
  border: 1px solid #2E2E2E !important;
}

.layout-dark .ant-layout-content .content-amount .right-content .switch-typhography {
  margin-right: 16px;
}

.layout-dark .ant-layout-content .content-amount .right-content .switch-typhography .ant-select .ant-select-selector {
  background: #2E2E2E !important;
  border: 1px solid #8E8E8E !important;
}

.layout-dark .ant-layout-content .content-amount .right-content .switch-typhography .ant-select .ant-select-selection-item {
  font-size: 12px;
  font-weight: 600;
  color: #DBDBDB !important;
}

.layout-dark .ant-layout-content .content-amount .right-content .switch-typhography .ant-select .ant-select-selection-placeholder {
  font-size: 12px;
  font-weight: 600;
}

.layout-dark .ant-layout-content .content-amount .right-content .switch-typhography .ant-select .anticon > svg {
  font-size: 10px;
  font-weight: 600;
  color: #DBDBDB !important;
}

.layout-dark .ant-layout-content .content-table-header .left-content {
  color: #DBDBDB !important;
}

.layout-dark .ant-layout-content .content-table-header .right-content {
  border: 1px solid #2E2E2E !important;
}

.layout-dark .ant-layout-content .content-table-header .right-content .left-filter-content .ant-input-affix-wrapper > input {
  background-color: #161616 !important;
  color: #DBDBDB !important;
}

.layout-dark .ant-layout-content .content-table-header .right-content .left-filter-content .ant-space .ant-picker {
  background-color: #161616 !important;
  border: none !important;
}

.layout-dark .ant-layout-content .content-table-header .right-content .left-filter-content .ant-space .ant-picker-input > input {
  color: #DBDBDB !important;
}

.layout-dark .ant-layout-content .content-table-header .right-content .left-filter-content .ant-space .ant-picker-range-separator > span {
  color: #DBDBDB !important;
}

.layout-dark .ant-layout-content .content-table-header .right-content .left-filter-content .ant-select .ant-select-selector {
  background-color: #161616 !important;
}

.layout-dark .ant-layout-content .content-table-header .right-content .left-filter-content .ant-select .ant-select-selection-item {
  color: #DBDBDB !important;
}

.layout-dark .ant-layout-content .content-table-header .right-content .left-filter-content .ant-select .ant-select-arrow {
  color: #DBDBDB !important;
}

.layout-dark .ant-layout-content .content-table-header .right-content .right-filter-content .ant-btn > span {
  color: #161616 !important;
}

.layout-dark .ant-layout-content .content-table-body .ant-table-row-selected .ant-table-cell {
  background: #F9F9F9 !important;
}

.layout-dark .ant-layout-content .content-table-body .ant-table-wrapper {
  border: 1px solid #2E2E2E !important;
  background: #161616;
}

.layout-dark .ant-layout-content .content-table-body .ant-table-wrapper .ant-table-thead .ant-table-cell {
  background: #2E2E2E !important;
  border-color: #2e2e2e;
  color: #DBDBDB !important;
}

.layout-dark .ant-layout-content .content-table-body .ant-table-wrapper .ant-table-thead .ant-table-cell-fix-left {
  border-right: 0px solid #2e2e2e;
}

.layout-dark .ant-layout-content .content-table-body .ant-table-wrapper .ant-table-row:hover .ant-table-cell {
  background-color: #1D1D1D !important;
}

.layout-dark .ant-layout-content .content-table-body .ant-table-wrapper .ant-table-header {
  border-right: 20px solid #2E2E2E !important;
}

.layout-dark .ant-layout-content .content-table-body .ant-table-wrapper .ant-table-cell {
  background: #161616 !important;
  color: #F9F9F9 !important;
}

.layout-dark .ant-layout-content .content-table-body .ant-table-wrapper .ant-table-tbody > tr > td {
  border-bottom: 1px solid #2E2E2E !important;
  border-left: none !important;
  border-right: none !important;
}

.layout-dark .ant-layout-content .content-table-body .ant-table-wrapper .ant-table-tbody > tr.ant-table-row-selected > td {
  background-color: #1D1D1D !important;
}

.layout-dark .ant-layout-content .content-table-body .ant-table-wrapper .ant-table-body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #8E8E8E !important;
  border: 1px solid #8E8E8E !important;
}

.layout-dark .ant-layout-content .content-table-body .ant-table-wrapper .ant-table-body::-webkit-scrollbar {
  width: 6px !important;
  height: 6px !important;
}

.layout-dark .ant-layout-content .content-table-body .ant-table-wrapper .ant-table-body::-webkit-scrollbar-track {
  background-color: #2E2E2E;
}

.layout-dark .ant-layout-content .content-table-body .ant-table-wrapper .ant-table-body::-webkit-scrollbar-corner {
  background-color: #2E2E2E;
}

.layout-dark .ant-layout-content .content-table-body .ant-table-wrapper .ant-checkbox-inner {
  background-color: #2E2E2E !important;
  border-color: #8E8E8E !important;
}

.layout-dark .ant-layout-content .content-table-pagination .ant-pagination .ant-pagination-item {
  background-color: #1D1D1D !important;
  border: 1px solid #2E2E2E;
}

.layout-dark .ant-layout-content .content-table-pagination .ant-pagination .ant-pagination-item > a {
  color: #8E8E8E !important;
}

.layout-dark .ant-layout-content .content-table-pagination .ant-pagination .ant-pagination-item-active {
  border: 1px solid #00AB6B;
}

.layout-dark .ant-layout-content .content-table-pagination .ant-pagination .ant-pagination-item-active > a {
  color: #00AB6B !important;
}

.layout-dark .ant-layout-content .content-table-pagination .ant-pagination .ant-pagination-item:hover {
  border: 1px solid #00AB6B;
}

.layout-dark .ant-layout-content .content-table-pagination .ant-pagination .ant-pagination-item:hover > a {
  color: #00AB6B !important;
}

.layout-dark .ant-layout-content .content-table-pagination .ant-pagination .ant-pagination-item-ellipsis {
  color: #00AB6B;
}

.layout-dark .ant-layout-content .content-table-pagination .ant-pagination .ant-pagination-item-link {
  background-color: #1D1D1D;
  border-color: #2E2E2E;
}

.layout-dark .ant-layout-content .content-table-pagination .ant-pagination .ant-pagination-item-link > span {
  color: #8E8E8E !important;
}

.layout-dark .ant-layout-content .content-table-pagination .ant-pagination .ant-pagination-item-link:hover {
  border: 1px solid #00AB6B;
}

.layout-dark .ant-layout-content .content-table-pagination .ant-pagination .ant-pagination-item-link:hover > a {
  color: #00AB6B !important;
}

.layout-dark .ant-layout-content .content-table-pagination .ant-pagination .ant-pagination-disabled > button {
  background: #1D1D1D !important;
  border: 0px solid #2E2E2E !important;
}

.layout-dark .ant-layout-content .content-table-pagination .ant-pagination .ant-pagination-options {
  display: none;
}

.layout-dark .ant-layout-content .content-table-pagination .ant-pagination .ant-pagination-on-prev .ant-pagination-item-link {
  border: 1px solid #2E2E2E !important;
}

.layout-dark .ant-layout-content .content-table-pagination .ant-pagination .ant-pagination-on-prev.ant-pagination-disabled .ant-pagination-item-link {
  border: 1px solid #2E2E2E !important;
}

.layout-dark .ant-layout-content .content-table-pagination .ant-dropdown-trigger {
  background-color: #1D1D1D !important;
  border: 1px solid #2E2E2E;
}

.layout-dark .ant-layout-content .content-table-pagination .ant-dropdown-trigger .anticon-down {
  color: #8E8E8E !important;
}

.layout-dark .ant-layout-content .content-table-pagination .ant-dropdown-trigger > span:nth-child(1) {
  color: #8E8E8E !important;
}

.ant-layout-content {
  padding: 0px 0px 0px 0px;
  z-index: 1;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  height: 100%;
  overflow-y: auto;
}

.ant-layout-content .back-office-content {
  padding: 24px;
  background: #ffff;
  margin: 0px;
  border-radius: 14px 0px 0px 14px;
  width: calc(100% - 300px);
}

.ant-layout-content .back-office-content.unfilter {
  padding: 24px;
  background: #ffff;
  margin: 0px;
  border-radius: 14px 14px 0px 0px;
  min-width: 100%;
}

.ant-layout-content .content-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ant-layout-content .content-header .left-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ant-layout-content .content-header .left-content > p:nth-child(1) {
  margin-right: 8px;
  font-size: 18px;
  font-weight: 700;
}

.ant-layout-content .content-header .left-content > span {
  color: #B5B5B5;
  font-size: 20px;
  font-weight: 500;
}

.ant-layout-content .content-header .left-content > p:nth-child(3) {
  font-weight: 700;
  font-size: 14px;
  color: #00AB6B;
  padding: 4px 0px 0px 5px;
}

.ant-layout-content .content-header .right-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ant-layout-content .content-header .right-content > img {
  margin: -12px 5px 0px 0px;
  cursor: pointer;
}

.ant-layout-content .content-header .right-content > p {
  font-weight: 600;
  font-size: 12px;
  color: #00AB6B;
  cursor: pointer;
}

.ant-layout-content .content-amount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #EDEDED;
}

.ant-layout-content .content-amount .left-content > p:nth-child(1) {
  font-size: 14px;
  font-weight: 400;
  color: #606060;
}

.ant-layout-content .content-amount .left-content > p:nth-child(2) {
  font-size: 18px;
  font-weight: 700;
  margin-top: -12px;
}

.ant-layout-content .content-amount .right-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 13px;
}

.ant-layout-content .content-amount .right-content > button:nth-child(1) {
  margin-right: 16px;
  border: 1px solid #EDEDED;
  border-radius: 4px;
}

.ant-layout-content .content-amount .right-content > button:nth-child(1) > img {
  margin-left: 10px;
}

.ant-layout-content .content-amount .right-content > button:nth-child(2) {
  border: 1px solid #EDEDED;
  border-radius: 4px;
}

.ant-layout-content .content-amount .right-content .ant-btn > span {
  font-size: 12px;
  font-weight: 600;
  color: #333333;
}

.ant-layout-content .content-amount .right-content .ant-btn:hover {
  border: 1px solid #333333 !important;
}

.ant-layout-content .content-amount .right-content .switch-typhography {
  margin-right: 16px;
}

.ant-layout-content .content-amount .right-content .switch-typhography .ant-select .ant-select-selector {
  border: 1px solid #EDEDED;
  border-radius: 4px;
  font-size: 12px;
  background-color: #ffff !important;
}

.ant-layout-content .content-amount .right-content .switch-typhography .ant-select .ant-selector:hover {
  border: 1px solid #3333;
}

.ant-layout-content .content-amount .right-content .switch-typhography .ant-select .ant-select-selection-item {
  font-size: 12px;
  font-weight: 600;
  color: #333333;
}

.ant-layout-content .content-amount .right-content .switch-typhography .ant-select .ant-select-selection-placeholder {
  font-size: 12px;
  font-weight: 600;
}

.ant-layout-content .content-amount .right-content .switch-typhography .ant-select .anticon > svg {
  font-size: 10px;
  font-weight: 600;
  color: #333333;
}

.ant-layout-content .content-table-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 16px;
  width: 100%;
}

.ant-layout-content .content-table-header .left-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5px;
  font-weight: 700;
  font-size: 13px;
  color: #606060;
}

.ant-layout-content .content-table-header .right-content:hover {
  border: 1px solid #00AB6B;
}

.ant-layout-content .content-table-header .right-content:focus-within {
  border: 1px solid #00AB6B;
}

.ant-layout-content .content-table-header .right-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid #EDEDED;
  padding: 0px 10px;
  border-radius: 6px;
}

.ant-layout-content .content-table-header .right-content .left-filter-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.ant-layout-content .content-table-header .right-content .ant-input {
  width: 180px;
  height: 32px;
  border-radius: 4px;
  border: none !important;
  margin-top: 4px;
}

.ant-layout-content .content-table-header .right-content .ant-input-prefix .anticon {
  display: none;
}

.ant-layout-content .content-table-header .right-content .ant-input-prefix::after {
  content: url("../../assets/Search.svg");
  margin-top: 3px;
  margin-right: 10px;
}

.ant-layout-content .content-table-header .right-content .anticon.search {
  color: black;
}

.ant-layout-content .content-table-header .right-content .ant-input-affix-wrapper {
  border: 1px solid white !important;
  display: contents;
}

.ant-layout-content .content-table-header .right-content .ant-input-affix-wrapper-focused {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.ant-layout-content .content-table-header .right-content .boundary-content {
  border-right: 1px solid #EDEDED;
  height: auto;
  margin: 12px 10px;
  z-index: 1;
}

.ant-layout-content .content-table-header .right-content .ant-space {
  width: 217px;
  border-radius: 4px;
  margin: 3px 0px 3px 6px;
}

.ant-layout-content .content-table-header .right-content .ant-space .ant-picker-range::before {
  content: url("../../assets/picker.svg");
  width: 34px;
  margin: 5px 8px -2px -10px;
  cursor: pointer;
}

.ant-layout-content .content-table-header .right-content .ant-space .ant-space-item {
  width: 237px;
}

.ant-layout-content .content-table-header .right-content .ant-space .ant-picker {
  border: 1px solid white;
}

.ant-layout-content .content-table-header .right-content .ant-space .ant-picker:hover {
  border-color: white !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.ant-layout-content .content-table-header .right-content .ant-space .ant-picker-focused {
  border-color: white !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.ant-layout-content .content-table-header .right-content .ant-space .ant-picker-suffix {
  display: none;
}

.ant-layout-content .content-table-header .right-content .ant-space .ant-picker-separator {
  margin-left: -15px;
  margin-right: 10px;
}

.ant-layout-content .content-table-header .right-content .ant-select {
  margin-right: -10px;
}

.ant-layout-content .content-table-header .right-content .ant-select .ant-select-selector {
  border: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  margin-top: 6px;
}

.ant-layout-content .content-table-header .right-content .ant-btn-primary {
  background: #00AB6B;
  border: none;
  border-radius: 4px;
  margin-left: 20px;
  margin-top: 5px;
  margin-right: -4px;
}

.ant-layout-content .content-table-header .right-content .ant-btn-primary > span {
  font-weight: 600;
  font-size: 12px;
}

.ant-layout-content .content-table-header .right-content .ant-btn-primary:hover {
  background: #19B37A;
}

.ant-layout-content .content-table-body {
  margin-top: 17px;
}

.ant-layout-content .content-table-body .ant-table-wrapper {
  background: #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px 5px 0px 5px;
  border: 1px solid #EDEDED;
}

.ant-layout-content .content-table-body .ant-table-wrapper .ant-pagination {
  -webkit-box-pack: start !important;
      -ms-flex-pack: start !important;
          justify-content: flex-start !important;
  display: none;
}

.ant-layout-content .content-table-body .ant-table-wrapper .ant-table-header {
  border-right: 18px solid #EDEDED !important;
}

.ant-layout-content .content-table-body .ant-table-wrapper .ant-table-thead .ant-table-cell {
  background: #EDEDED;
  font-weight: 700;
  color: #6b6b6b !important;
}

.ant-layout-content .content-table-body .ant-table-wrapper .ant-table-thead .ant-table-cell .ant-table-column-sorter-inner {
  margin-top: 10px;
}

.ant-layout-content .content-table-body .ant-table-wrapper .ant-table-thead .ant-table-column-sorters {
  padding: 0px !important;
}

.ant-layout-content .content-table-body .ant-table-wrapper .ant-table-thead .ant-table-cell {
  padding: 15px;
}

.ant-layout-content .content-table-body .ant-table-wrapper .anticon-caret-up {
  display: none;
}

.ant-layout-content .content-table-body .ant-table-wrapper .ant-table-cell {
  font-size: 12px !important;
  font-weight: 500;
  color: black !important;
}

.ant-layout-content .content-table-body .ant-table-wrapper .ant-tag {
  background: rgba(0, 171, 107, 0.1);
  color: #00AB6B;
  Font-size: 10px;
  width: 80px;
  font-weight: 600;
  height: 22px;
  text-align: center;
  border-radius: 20px;
}

.ant-layout-content .content-table-body .ant-table-wrapper .ant-table-tbody > tr:not(:first-child) > td {
  padding: 18px 16px !important;
}

.ant-layout-content .content-table-body .ant-table-wrapper .ant-table-body::-webkit-scrollbar {
  width: 15px !important;
  background: black !important;
  margin: 10px !important;
}

.ant-layout-content .content-table-body .ant-table-wrapper .ant-table-body::-webkit-scrollbar-track {
  background: white;
  width: 200px !important;
}

.ant-layout-content .content-table-body .ant-table-wrapper .ant-table-body::-webkit-scrollbar-thumb {
  background-color: #CECECE;
  border-radius: 20px;
  border: 4px solid #FFFFFF;
}

.ant-layout-content .content-table-body .ant-table-wrapper .ant-checkbox-wrapper-checked .ant-checkbox-inner {
  background-color: #00AB6B !important;
  border-color: #00AB6B !important;
}

.ant-layout-content .content-table-body .ant-table-wrapper .ant-checkbox-indeterminate .ant-checkbox-inner::after {
  background-color: #00AB6B !important;
}

.ant-layout-content .content-table-body .ant-table-wrapper .ant-checkbox:hover .ant-checkbox-inner {
  border-color: #00AB6B;
}

.ant-layout-content .content-table-body .ant-table-wrapper .ant-table-tbody > tr.ant-table-row-selected > td {
  background-color: #F9F9F9 !important;
}

.ant-layout-content .content-table-body.uncollapsed .ant-table-content > table {
  width: auto !important;
}

.ant-layout-content .content-table-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 26px;
}

.ant-layout-content .content-table-pagination .ant-pagination .ant-pagination-item {
  width: 32px;
  height: 32px;
  border-radius: 4px;
}

.ant-layout-content .content-table-pagination .ant-pagination .ant-pagination-item-active {
  border: 1px solid #00AB6B;
}

.ant-layout-content .content-table-pagination .ant-pagination .ant-pagination-item-active > a {
  color: #00AB6B !important;
}

.ant-layout-content .content-table-pagination .ant-pagination .ant-pagination-item:hover {
  border: 1px solid #00AB6B;
}

.ant-layout-content .content-table-pagination .ant-pagination .ant-pagination-item:hover > a {
  color: #00AB6B !important;
}

.ant-layout-content .content-table-pagination .ant-pagination .ant-pagination-item-ellipsis {
  color: #00AB6B;
}

.ant-layout-content .content-table-pagination .ant-pagination .ant-pagination-item-link {
  width: 32px;
  height: 32px;
  border-radius: 4px;
}

.ant-layout-content .content-table-pagination .ant-pagination .ant-pagination-item-link:disabled {
  background: #EDEDED;
}

.ant-layout-content .content-table-pagination .ant-pagination .ant-pagination-options {
  display: none;
}

.ant-layout-content .content-table-pagination .ant-dropdown-trigger {
  width: 63px;
  height: 32px;
  border: 1px solid #EDEDED;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 700;
}

.ant-layout-content .content-table-pagination .ant-dropdown-trigger:hover {
  border: 1px solid #00AB6B;
}

.ant-layout-content .content-table-pagination .ant-dropdown-trigger:hover > span {
  color: #00AB6B !important;
}

.combine-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 90px 20px 0px 20px !important;
}

.filter-content-wrapper.dark-mode {
  background: #161616 !important;
  border-left: 1.5px solid #2E2E2E;
}

.filter-content-wrapper.dark-mode .filter-content-show-wrapper::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #8E8E8E !important;
  border: 1px solid #8E8E8E !important;
}

.filter-content-wrapper.dark-mode .filter-content-show-wrapper::-webkit-scrollbar {
  width: 3px !important;
  height: 6px !important;
}

.filter-content-wrapper.dark-mode .filter-content-show-wrapper::-webkit-scrollbar-track {
  background-color: #2E2E2E;
}

.filter-content-wrapper.dark-mode .filter-content-show .filter-content-header > p:nth-child(1) {
  color: #DBDBDB !important;
}

.filter-content-wrapper.dark-mode .filter-content-show .filter-content-header > p:nth-child(2) {
  color: #8E8E8E !important;
}

.filter-content-wrapper.dark-mode .filter-content-show .filter-content-header > p:nth-child(2):hover {
  color: #DBDBDB !important;
}

.filter-content-wrapper.dark-mode .filter-content-show-wrapper .boundary-content {
  border-bottom: 1px solid #2E2E2E !important;
}

.filter-content-wrapper.dark-mode .ant-collapse .ant-collapse-header {
  color: #DBDBDB !important;
  border-bottom: 1px solid #2E2E2E !important;
}

.filter-content-wrapper.dark-mode .ant-collapse .ant-collapse-header > span > svg {
  color: #8E8E8E !important;
}

.filter-content-wrapper.dark-mode .ant-collapse .ant-collapse-content {
  border-bottom: 1px solid #2E2E2E !important;
}

.filter-content-wrapper.dark-mode .ant-collapse .ant-collapse-content .list-filter {
  color: #DBDBDB !important;
}

.filter-content-wrapper.dark-mode .reksadana-collapse {
  margin-right: 2px;
}

.filter-content-wrapper.dark-mode .reksadana-collapse .ant-collapse .ant-collapse-item {
  background-color: #161616 !important;
  border-bottom: 1px solid #2E2E2E !important;
}

.filter-content-wrapper.dark-mode .reksadana-collapse .ant-collapse .ant-collapse-item-active {
  background-color: #1D1D1D !important;
}

.filter-content-wrapper.dark-mode .reksadana-collapse .ant-collapse .reksadana-collapse-item .ant-collapse-header {
  background-color: #161616 !important;
}

.filter-content-wrapper.dark-mode .reksadana-collapse .ant-collapse .reksadana-collapse-item .ant-collapse-item {
  background-color: #161616 !important;
  border-bottom: 1px solid black !important;
}

.filter-content-wrapper.dark-mode .reksadana-collapse .ant-collapse .reksadana-collapse-item .ant-collapse-content-box {
  background-color: #1D1D1D !important;
}

.filter-content-wrapper.dark-mode .reksadana-collapse .ant-collapse .reksadana-collapse-item .ant-collapse-item-active {
  background-color: #161616 !important;
}

.filter-content-wrapper.dark-mode .reksadana-collapse .ant-collapse .reksadana-collapse-item .ant-collapse-content-active {
  border-bottom: 1px solid #2E2E2E !important;
}

.filter-content-wrapper.dark-mode .reksadana-collapse .ant-collapse .reksadana-collapse-item .ant-collapse-content-active .ant-collapse-content-box {
  background-color: #161616 !important;
}

.filter-content-wrapper.dark-mode .reksadana-collapse .ant-collapse .reksadana-collapse-item .ant-collapse-content-active .ant-select-selector {
  background-color: #1D1D1D !important;
  border: 1px solid #8E8E8E !important;
}

.filter-content-wrapper.dark-mode .reksadana-collapse .ant-collapse .reksadana-collapse-item .ant-collapse-content-active .ant-select-arrow {
  color: #8E8E8E !important;
}

.filter-content-wrapper.dark-mode .reksadana-collapse .ant-collapse .reksadana-collapse-item .ant-collapse-content-active .ant-select .ant-select-selector:hover {
  border-color: #19B37A !important;
}

.filter-content-wrapper.dark-mode .reksadana-collapse .ant-collapse .reksadana-collapse-item .ant-collapse-content-active .ant-select .ant-select-selector {
  color: #8E8E8E !important;
}

.filter-content-wrapper.dark-mode .reksadana-collapse .ant-collapse .reksadana-collapse-item .ant-collapse-content-active .ant-select-selector {
  font-weight: 500 !important;
}

.filter-content-wrapper.dark-mode .reksadana-collapse .ant-collapse .reksadana-collapse-item .ant-collapse-content-active .ant-select-focused .ant-select-selector {
  border-color: #19B37A !important;
}

.filter-content-wrapper.dark-mode .reksadana-collapse .ant-collapse .ant-collapse-content-box {
  background-color: #1D1D1D !important;
}

.filter-content-wrapper.dark-mode .reksadana-collapse .ant-collapse .partner-radio-sub-item .ant-checkbox-wrapper {
  border: 1px solid #8E8E8E !important;
  background-color: #161616 !important;
}

.filter-content-wrapper.dark-mode .reksadana-collapse .ant-collapse .partner-radio-sub-item .ant-checkbox-wrapper > span:nth-child(2) {
  position: absolute;
  left: 4px;
  font-size: 12px;
  font-weight: 400;
  color: #DBDBDB !important;
}

.filter-content-wrapper.dark-mode .reksadana-collapse .ant-collapse .partner-radio-sub-item .ant-checkbox-wrapper-checked {
  border: 1px solid #00AB6B !important;
}

.filter-content-wrapper.dark-mode .reksadana-collapse .ant-collapse .partner-radio-sub-item .ant-checkbox-inner {
  background-color: #2E2E2E;
  border-color: #8E8E8E;
}

.filter-content-wrapper.dark-mode .reksadana-collapse .ant-collapse .partner-radio-sub-item .ant-checkbox-checked .ant-checkbox-inner {
  border-color: #00AB6B !important;
  background-color: #00AB6B !important;
}

.filter-content-wrapper.dark-mode .filter-footer .ant-btn {
  background-color: #161616 !important;
  border: 1px solid #8E8E8E !important;
  color: #8E8E8E !important;
}

.filter-content-wrapper.dark-mode .filter-footer .ant-btn:hover {
  border-color: #00AB6B !important;
}

.filter-content-wrapper {
  background: #FFFFFF !important;
  border-radius: 0px 14px 14px 0px;
  right: 20px;
  width: 300px;
  top: 96px;
  background: #ffff;
  margin: 0px;
  z-index: 10;
  resize: none;
  border-left: 1.5px solid #EDEDED;
}

.filter-content-wrapper .content-filter-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 300px;
}

.filter-content-wrapper .filter-content-show-wrapper {
  max-height: calc(100vh - 280px);
  overflow-y: auto;
  overflow-x: hidden;
}

.filter-content-wrapper .filter-content-show-wrapper::-webkit-scrollbar-thumb {
  background: #CECECE !important;
  border-radius: 10px;
}

.filter-content-wrapper .filter-content-show-wrapper::-webkit-scrollbar {
  width: 15px !important;
  background: black !important;
  margin: 10px !important;
}

.filter-content-wrapper .filter-content-show-wrapper::-webkit-scrollbar-track {
  background: white;
  width: 200px !important;
}

.filter-content-wrapper .filter-content-show-wrapper::-webkit-scrollbar-thumb {
  width: 200px !important;
  width: 20px !important;
  background-color: #CECECE;
  border-radius: 20px;
  border: 4px solid #FFFFFF;
}

.filter-content-wrapper .filter-content-show-wrapper::-webkit-scrollbar-thumb:hover {
  background-color: #CECECE;
  border-radius: 20px;
  border: 4px solid #FFFFFF;
}

.filter-content-wrapper .filter-content-show {
  padding: 24px 24px 0px 17px;
  margin-bottom: -8px;
  margin-top: -10px;
}

.filter-content-wrapper .filter-content-show .filter-content-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.filter-content-wrapper .filter-content-show .filter-content-header > p:nth-child(1) {
  font-size: 14px;
  font-weight: 700;
}

.filter-content-wrapper .filter-content-show .filter-content-header > p:nth-child(2) {
  margin-top: 2px;
  font-size: 12px;
  font-weight: 400;
  color: #949494;
  cursor: pointer;
}

.filter-content-wrapper .filter-content-show .filter-content-header > p:nth-child(2):hover {
  color: black;
}

.filter-content-wrapper .ant-collapse {
  font-size: 12px;
  font-weight: 600;
}

.filter-content-wrapper .ant-collapse .ant-collapse-header {
  border-bottom: 1px solid #EDEDED;
}

.filter-content-wrapper .ant-collapse .ant-collapse-header > span > svg {
  color: #B5B5B5;
}

.filter-content-wrapper .ant-collapse .ant-collapse-content {
  border-bottom: 1px solid #EDEDED !important;
}

.filter-content-wrapper .ant-collapse .ant-collapse-content-box {
  margin-bottom: -10px !important;
}

.filter-content-wrapper .ant-collapse .ant-collapse-content-box > ul {
  color: RGBA(51, 51, 51, 0.7) !important;
}

.filter-content-wrapper .ant-collapse .ant-collapse-content-box > ul > li {
  cursor: pointer;
}

.filter-content-wrapper .reksadana-collapse {
  padding: 0px;
  margin-bottom: 9px;
}

.filter-content-wrapper .reksadana-collapse .filter-content-header > p {
  font-size: 12px;
  font-weight: 600;
}

.filter-content-wrapper .reksadana-collapse .list-filter {
  background: #FFFFFF;
  margin-top: -25px;
  padding-bottom: 10px;
  width: 266px;
  border-top: 1px solid #f9f9f9;
  margin-left: -16px;
  padding-top: 14px;
}

.filter-content-wrapper .reksadana-collapse .ant-collapse {
  font-size: 12px;
  font-weight: 600;
  border: none !important;
}

.filter-content-wrapper .reksadana-collapse .ant-collapse .ant-collapse-header {
  border-radius: 4px !important;
  border-bottom: none !important;
}

.filter-content-wrapper .reksadana-collapse .ant-collapse .ant-collapse-header > span > svg {
  color: #B5B5B5;
}

.filter-content-wrapper .reksadana-collapse .ant-collapse .ant-collapse-item {
  background: #F9F9F9;
  border: none;
}

.filter-content-wrapper .reksadana-collapse .ant-collapse-item {
  background-color: white !important;
  border-bottom: 1px solid #EDEDED !important;
}

.filter-content-wrapper .reksadana-collapse .ant-collapse-item-active {
  background-color: #F9F9F9 !important;
}

.filter-content-wrapper .reksadana-collapse .reksadana-collapse-item {
  margin-top: -10px;
}

.filter-content-wrapper .reksadana-collapse .reksadana-collapse-item .ant-collapse-item {
  background-color: #FFFFFF;
  margin-bottom: 10px;
}

.filter-content-wrapper .reksadana-collapse .reksadana-collapse-item .ant-collapse-header {
  margin-bottom: 0px;
}

.filter-content-wrapper .reksadana-collapse .reksadana-collapse-item .ant-collapse-item-active {
  background-color: #FFFFFF !important;
}

.filter-content-wrapper .reksadana-collapse .reksadana-collapse-item .ant-collapse-content-box {
  background-color: #FFFFFF !important;
  margin-bottom: 0px !important;
  margin-top: -10px;
}

.filter-content-wrapper .reksadana-collapse .reksadana-collapse-item .ant-select {
  width: 100% !important;
}

.filter-content-wrapper .reksadana-collapse .reksadana-collapse-item .ant-select .ant-select-selector:hover {
  border-color: #19B37A !important;
}

.filter-content-wrapper .reksadana-collapse .reksadana-collapse-item .ant-select-selector {
  font-weight: 500 !important;
}

.filter-content-wrapper .reksadana-collapse .reksadana-collapse-item .ant-select-focused .ant-select-selector {
  border-color: #19B37A !important;
}

.filter-content-wrapper .reksadana-collapse .ant-collapse-content-box {
  background-color: #F9F9F9 !important;
}

.filter-content-wrapper .reksadana-collapse .ant-collapse-content {
  border: none !important;
}

.filter-content-wrapper .reksadana-collapse {
  margin-right: 2px;
}

.filter-content-wrapper .reksadana-collapse .partner-radio-sub-item .ant-checkbox-group {
  position: relative;
}

.filter-content-wrapper .reksadana-collapse .partner-radio-sub-item .ant-checkbox-wrapper {
  padding: 10px 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  width: 261px;
  border: 1px solid #EDEDED;
  margin-bottom: 12px;
  background-color: #ffffff;
  border-radius: 4px;
}

.filter-content-wrapper .reksadana-collapse .partner-radio-sub-item .ant-checkbox-wrapper > span:nth-child(2) {
  position: absolute;
  left: 4px;
  font-size: 12px;
  font-weight: 400;
}

.filter-content-wrapper .reksadana-collapse .partner-radio-sub-item .ant-checkbox-wrapper-checked {
  border: 1px solid #00AB6B !important;
}

.filter-content-wrapper .reksadana-collapse .partner-radio-sub-item .ant-checkbox-wrapper:not(:first-child) {
  margin-left: -1px;
}

.filter-content-wrapper .reksadana-collapse .partner-radio-sub-item .ant-checkbox-checked .ant-checkbox-inner {
  border-color: #00AB6B;
  background-color: #00AB6B;
}

.filter-content-wrapper .reksadana-collapse .partner-radio-sub-item .ant-checkbox-wrapper:hover .ant-checkbox-inner, .filter-content-wrapper .reksadana-collapse .partner-radio-sub-item .ant-checkbox:hover .ant-checkbox-inner, .filter-content-wrapper .reksadana-collapse .partner-radio-sub-item .ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color: #00AB6B;
}

.filter-content-wrapper .reksadana-collapse .partner-radio-sub-item .ant-checkbox-inner {
  background-color: #EDEDED;
  border-color: #EDEDED;
  border-radius: 4px;
}

.filter-content-wrapper .boundary-content {
  width: 100%;
  height: 1px;
  border-bottom: 1px solid #EDEDED;
}

.filter-content-wrapper .filter-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 20px 50px 20px;
}

.filter-content-wrapper .filter-footer .ant-btn {
  width: 261px;
  height: 38px;
  border: 1px solid #EDEDED;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  color: #333333;
}

.ant-picker-range:hover {
  border: 1px solid #00AB6B !important;
}

.ant-picker-focused {
  border-color: #00AB6B !important;
}

.ant-picker-active-bar {
  background: #00AB6B !important;
}

.ant-picker-cell-range-start .ant-picker-cell-inner {
  background-color: #00AB6B !important;
  border-radius: 50px !important;
}

.ant-picker-cell-inner {
  font-weight: 600 !important;
}

.ant-picker-cell-range-end .ant-picker-cell-inner {
  background-color: #00AB6B !important;
  border-radius: 50px !important;
}

.ant-picker-cell-in-range .ant-picker-cell-inner {
  background-color: #E6F7F0 !important;
  color: #00AB6B !important;
}

.ant-picker-dropdown {
  font-size: 14px;
}

.ant-picker-header-view {
  font-weight: 700 !important;
}

.ant-picker-content th {
  font-weight: 800 !important;
}

.ant-picker-cell-today .ant-picker-cell-inner::before {
  border: 1px solid #00AB6B !important;
}

.ant-picker-content > tbody > tr > td:last-child::before {
  border-top-right-radius: 50px !important;
  border-bottom-right-radius: 50px !important;
}

.ant-picker-content > tbody > tr > td:first-child::before {
  border-top-left-radius: 50px !important;
  border-bottom-left-radius: 50px !important;
}

.ant-picker-cell-in-view.ant-picker-cell-in-range::before {
  background-color: #E6F7F0 !important;
}

.sw-wrapper {
  margin-top: 18px;
  margin-right: 15px;
  width: 52px;
  height: 30px;
  border-radius: 50px;
  background-color: #aad2ee;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.sw-knob-mode {
  -webkit-transition: left ease 0.5s;
  transition: left ease 0.5s;
  position: absolute;
  width: 26px;
  height: 26px;
  left: 2px;
  top: 2px;
  background: #ffffff;
  border-radius: 50px;
  -webkit-box-shadow: 0px 5px 18px rgba(0, 0, 0, 0.15), 0px 3px 1px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 5px 18px rgba(0, 0, 0, 0.15), 0px 3px 1px rgba(0, 0, 0, 0.06);
}

.sw-knob-mode::after {
  content: "";
  width: 4px;
  height: 4px;
  background-color: #ffffff;
  border-radius: 20px;
  position: absolute;
  left: 1em;
  top: 0.8em;
  -webkit-transition: ease 0.7s;
  transition: ease 0.7s;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  opacity: 0;
}

.sw-knob-mode::before {
  content: "";
  width: 6px;
  height: 6px;
  background-color: #ffffff;
  border-radius: 20px;
  position: absolute;
  left: 1em;
  top: 0.3em;
  -webkit-transition: ease 0.2s;
  transition: ease 0.2s;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  opacity: 0;
}

.sw-light-mode::before {
  content: "";
  width: 6px;
  height: 6px;
  background-color: #ffffff;
  border-radius: 20px;
  position: absolute;
  left: 2.6em;
  top: 0.3em;
  opacity: 1;
}

.sw-wrapper-dark {
  background: #2e2e2e;
}

.sw-dark-mode {
  left: 1.9em;
  -webkit-transition: left ease 0.5s;
  transition: left ease 0.5s;
}

.sw-knob-dark-mode {
  -webkit-transition: left ease 0.5s;
  transition: left ease 0.5s;
  position: absolute;
  width: 27px;
  height: 27px;
  left: 1.6em;
  top: 1px;
  background: #ffffff;
  border-radius: 50px;
  -webkit-box-shadow: 0px 5px 18px rgba(0, 0, 0, 0.15), 0px 3px 1px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 5px 18px rgba(0, 0, 0, 0.15), 0px 3px 1px rgba(0, 0, 0, 0.06);
  /* overflow: hidden; */
}

.sw-knob-dark-mode-reupdate::before {
  background-color: #2e2e2e !important;
}

.sw-knob-dark-mode::before {
  content: "";
  width: 27px;
  height: 27px;
  background-color: #ffffff;
  border-radius: 50px;
  position: absolute;
  z-index: 999;
  left: -0.5em;
  top: -0.4em;
  opacity: 1;
}

.sw-star-dark {
  position: absolute;
  right: 1.6em;
  top: 0.2em;
  z-index: 999;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  opacity: 1;
}

.sw-star-dark-opacity-show {
  opacity: 1;
  -webkit-transition: 1s ease-in;
  transition: 1s ease-in;
}

.sw-opacity-hide {
  opacity: 0;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.sw-opacity-show {
  opacity: 1;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

@media (min-width: 1500px) and (max-width: 1803px) {
  .ant-table-content > table {
    min-width: 110% !important;
  }
  .content-table-body.uncollapsed .ant-table-content > table {
    min-width: 130% !important;
  }
  .content-table-body.uncollapsed.filter .ant-table-content > table {
    min-width: 160% !important;
  }
}

@media (max-width: 1499px) {
  .ant-table-content > table {
    min-width: 130% !important;
  }
  .content-table-body.uncollapsed .ant-table-content > table {
    min-width: 140% !important;
  }
  .content-table-body.uncollapsed.filter .ant-table-content > table {
    min-width: 190% !important;
  }
  .content-table-header.flex {
    display: block !important;
  }
}

@media (max-width: 1240px) {
  .content-table-header.uncollapsed {
    display: block !important;
  }
}

@media (min-height: 719px) and (max-height: 1079px) {
  .ant-table-body {
    min-height: calc(100vh - 440px) !important;
  }
}

@media (max-height: 718px) {
  .ant-table-body {
    min-height: calc(100vh - 440px) !important;
  }
  .combine-content {
    min-height: 88vh;
  }
}

@media (min-height: 1080px) {
  .ant-table-body {
    max-height: 700px !important;
  }
  .filter-footer {
    position: fixed;
    top: 907px;
  }
}

@media (max-width: 1200px) {
  .content-table-header {
    display: block !important;
  }
}

@media (min-width: 1804px) and (max-width: 2029px) {
  .ant-table-content > table {
    min-width: 100% !important;
  }
  .content-table-body.uncollapsed .ant-table-content > table {
    min-width: 100% !important;
  }
  .content-table-body.uncollapsed.filter .ant-table-content > table {
    min-width: 120% !important;
  }
}

@media (min-width: 2030px) {
  .ant-table-content > table {
    min-width: 100% !important;
  }
  .content-table-body.uncollapsed .ant-table-content > table {
    min-width: 100% !important;
  }
  .content-table-body.uncollapsed.filter .ant-table-content > table {
    min-width: 100% !important;
  }
}
/*# sourceMappingURL=backoffice.css.map */