@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

body{
    background-color: #f0f2f5 !important;
}
.layout-dark{
    .ant-layout{
        background-color: #2E2E2E !important;
    }
}
.ant-layout{
    overflow: hidden;
    height: 100vh;
}
.type-open-sans{
    font-family: "Open Sans", sans-serif;
}
.type-lato{
    font-family: "Lato", sans-serif;
}
.type-noto{
    font-family: 'Noto Sans', sans-serif;
}

// DARK MODE HEADER
.back-office-header.dark-mode{
    .ant-layout-header{
        background: #161616 !important;
        .ant-menu{
            background: #161616 !important;
        }
        .ant-menu-item{
            background: #161616 !important;
        }
    }
    .center-side-menu-wrapper{
        .ant-input-affix-wrapper{
            background: #2E2E2E !important;
            border: 1px solid #2E2E2E;
        }
        .ant-input{
            background: #2E2E2E !important;
            color: #DBDBDB !important;

        }
    }
    .left-side-menu-wrapper{
        
    }
    .right-side-menu-wrapper{
        >p{
            color: rgba(219, 219, 219, 0.8) !important;
        }
        >span{
            >svg{
                color: #8E8E8E;
            }
        }
        .switch-typhography{
            margin-left: 16px;
            .ant-select{
                .ant-select-selector{
                    background: #2E2E2E !important;
                    border: none !important;
                }
                .ant-select-selection-item{
                    font-size: 12px;
                    font-weight: 600;
                    color: #DBDBDB !important;
                }
                .ant-select-selection-placeholder{
                    font-size: 12px;
                    font-weight: 600;
                }
                .anticon{
                    >svg{
                        font-size: 10px;
                        font-weight: 600;
                        color: #DBDBDB !important;
                    }
                }
            }
            .ant-select-focused{
                .ant-select-selector{
                    border: 1px solid #00AB6B !important;
                }
            }
        }
    }
}
.back-office-header{
    z-index: 1000;
    width: 100%;
    position: fixed;
    .ant-layout-header{
        background: #FFFF;
        >ul .left-side-menu{
            display: flex !important;
            justify-content: space-between !important;
        }
    }
    .header{
        width: calc(100% - 230px);
    }
    .header-collapse{
        width: 100%;
    }
    
    .ant-menu{
        background: #ffff !important;
        height: 64px !important;
    }
    .ant-menu-item{
        margin-top: -2px !important;
    }
    .back-office-text{
        color: #00AB6B;
        font-weight: 700;
    }
    .left-side-menu-wrapper{
        display: flex;
        margin-left: -55px;
        height: 64px !important;
        .sidebar-toogle{
            display: none;
        }
        .sidebar-toogle-show{
            display: block;
            margin-right: 14px;
        }
        >img:nth-child(2){
            margin-right: 13px;
            width: 80px !important;
        }
        >img:nth-child(1){
            margin-right: 16px;
            margin-top: 2px;
            width: 45px;
            cursor: pointer;
        }
        
    }
    .left-side-menu{
        display: flex;
        justify-content: space-between;
        cursor: default;
    }
    .ant-input-affix-wrapper:hover{
        border: 1px solid #00AB6B !important;
    }
    .ant-input-affix-wrapper-focused{
        border-color: #00AB6B !important;
    }
    .center-side-menu-wrapper{
        padding-top: 2px;
        .ant-input-affix-wrapper{
            width: 320px;
            height: 30px;
            background: #FFFFFF;
            border: 1px solid #EDEDED;
            border-radius: 24px;
        }
        .ant-input{
            text-align: center;
        }
        .ant-input-prefix{
            .anticon{
                display: none;
            }
        }
        .ant-input-prefix::after{
            content: url('../../assets/Search.svg');
            margin-top: 3px;
        }
        .anticon.search{
            color: black;
        }
    }
    
    .right-side-menu-wrapper{
        display: flex;
        margin-right: -50px;
        >p{
            color: #969696;
            font-size: 12px;
            font-weight: 600;
            height: 44px;
            display: contents;
            margin-right: 13px;
        }
        >span{
            color: black;
            display: flex;
            align-items: center;
            cursor: pointer;
            >svg{
                color: black;
            }
        }
        >img{
            margin-left: 13px;
            width: 40px;
            margin-right: 7px;
            cursor: pointer;
        }
        >button{
            align-items: center;
            margin-top: 20px;
            margin-right: 10px;
        }
        .ant-switch-checked{
            background: #00AB6B !important;
        }
        .switch-typhography{
            margin-right: 12px;
            .ant-select{
                text-align: center;
                .ant-select-selector{
                    border: 1px solid #EDEDED;
                    border-radius: 50px;
                    font-size: 12px;
                    background-color: #ffff !important;
                }
                .ant-selector:hover{
                    border: 1px solid #3333;
                }
                .ant-select-selection-item{
                    font-size: 12px;
                    font-weight: 600;
                    color: #333333;
                }
                .ant-select-selection-placeholder{
                    font-size: 12px;
                    font-weight: 600;
                }
                .anticon{
                    >svg{
                        font-size: 10px;
                        font-weight: 600;
                        color: #333333;
                    }
                }
            }
            .ant-select-focused{
                .ant-select-selector{
                    border: 1px solid #00AB6B !important;
                }
            }
        }
    }
    .ant-menu-item-active{
        background: #ffff !important;
    }
    .ant-menu-item-selected{
        background: #ffff !important;
    }
}

// DARK-MODE-SIDER 
.back-office-sider{
    overflow: auto !important;
    height: 100vh !important;
    position: sticky !important;
    left: 0 !important;
    background: url(../../assets/background-sidebar.svg) !important;
    background-repeat: no-repeat;
    background-size: cover;
    
    .ant-layout-sider-children{
        background: rgba( 22, 22, 22, 0.9 );   
        box-shadow: 0 8px 32px 0 ;
        backdrop-filter: blur( 50px );
        .ant-menu{
            background: none !important;
        }
        .sidebar-toogle{
            padding: 8px;
            background: #161616;
            height: 64px;
            cursor: pointer;
        }
    }
    
    .ant-menu-submenu-active{
        background: none;
        color: #FFFF;
        .ant-menu-submenu-title{
            color: #00AB6B !important;
        }
        .ant-menu-submenu-arrow{
            color: #FFFFFF, 100% !important;
            font-weight: 600;
        }
    }
    .ant-menu-submenu:hover{
        .ant-menu-submenu-arrow{
            color:  #ffff, 100% !important;
        }
    }
    .ant-menu-inline:hover{
        .ant-menu-submenu-arrow{
            color:  #ffff, 100% !important;
        }
    }
    .ant-menu-submenu-title{
        display: flex !important;
    }
    .ant-menu-submenu-open{
        .ant-menu-submenu-title{
            color: #00AB6B !important;
            display: flex;
            align-items: center;
        }
        .ant-menu-submenu-title>:first-child{
            margin-right: 3px !important;
            margin-left: -7px !important;
        }
    }
    .ant-menu-submenu{
        border-bottom: 1px solid #2E2E2E;
        .ant-menu-submenu-title{
            color: rgba(219, 219, 219, 0.8);
            font-size: 12px;
            font-weight: 700;
            margin-top: 0px !important;
        }
        .ant-menu-submenu-arrow{
            color: rgba(219, 219, 219, 0.8) !important;
        }
        .ant-menu-item{
            color: #ffff !important;
            display: flex;
            align-items: center;
            font-size: 12px;
            font-weight: 600;
            padding-left: 30px !important;
            .right-sub-menu{
                display: flex;
                max-width: 155px;
                min-width: 155px;
                >img{
                    margin-right: 5px;
                }
                >span{
                    color: rgba(219, 219, 219, 0.8);
                    font-weight: 600;
                    font-size: 12px !important;
                }
            }
            .left-sub-menu{
                color: rgba(219, 219, 219, 0.8);
            }
        }
        .ant-menu-item-selected{
            background: none !important;
            color: #00AB6B !important;
            .right-sub-menu{
                >span{
                    color: #00AB6B !important;
                }
            }
            .left-sub-menu{
                color: #00AB6B !important;
            }
        }
        .ant-menu-item::after{
            border-right: 4px solid #00AB6B !important;
        }
        .ant-menu-sub{
            border-top: 1px solid #2E2E2E;
            .ant-menu-item-selected{
                background-color: rgba(25, 179, 122, 0.1) !important; 
            }
        }
    }   
}

.back-office-sider-off{
    overflow: auto !important;
    height: 100vh !important;
    left: 0 !important;
    background: url(../../assets/background-sidebar.svg) !important;
    background-repeat: no-repeat;
    background-size: cover;
    
    .ant-layout-sider-children{
        background: rgba( 255, 255, 255, 0.85 );   
        box-shadow: 0 8px 32px 0 ;
        backdrop-filter: blur( 50px );
        .ant-menu{
            background: none !important;
        }
        .sidebar-toogle{
            padding: 8px;
            background: white;
            height: 64px;
            cursor: pointer;
        }
    }
    .ant-menu-submenu-active{
        background: none;
        color: #333333;
        .ant-menu-submenu-title{
            color: #00AB6B !important;
        }
        .ant-menu-submenu-arrow{
            color: #333333, 100% !important;
            font-weight: 600;
        }
    }
    .ant-menu-submenu:hover{
        .ant-menu-submenu-arrow{
            color:  #333333, 100% !important;
        }
    }
    .ant-menu-inline:hover{
        .ant-menu-submenu-arrow{
            color:  #333333, 100% !important;
        }
    }
    .ant-menu-submenu-title{
        display: flex !important;
    }
    .ant-menu-submenu-open{
        .ant-menu-submenu-title{
            color: #00AB6B !important;
            display: flex;
            align-items: center;
        }
        .ant-menu-submenu-title>:first-child{
            margin-right: 3px !important;
            margin-left: -7px !important;
        }
    }
    .ant-menu-submenu{
        border-bottom: 1px solid #EDEDED;
        .ant-menu-submenu-title{
            color: #333333;
            font-size: 12px;
            font-weight: 700;
            margin-top: 0px !important;
        }
        .ant-menu-submenu-arrow{
            color: #3333 !important;
        }
        .ant-menu-item{
            color: #ffff !important;
            display: flex;
            align-items: center;
            font-size: 12px;
            font-weight: 600;
            padding-left: 30px !important;
            .right-sub-menu{
                display: flex;
                max-width: 155px;
                min-width: 155px;
                >img{
                    margin-right: 5px;
                }
                >span{
                    color: RGBA(51,51,51,.70);
                    font-weight: 600;
                    font-size: 12px !important;
                }
            }
            .left-sub-menu{
                color: RGBA(51,51,51,.70);
            }
        }
        .ant-menu-item-selected{
            background: none !important;
            color: #00AB6B !important;
            .right-sub-menu{
                >span{
                    color: #00AB6B !important;
                }
            }
            .left-sub-menu{
                color: #00AB6B !important;
            }
        }
        .ant-menu-item::after{
            border-right: 4px solid #00AB6B !important;
        }
        .ant-menu-sub{
            border-top: 1px solid #EDEDED;
            .ant-menu-item-selected{
                background-color: rgba(25, 179, 122, 0.1) !important; 
            }
        }
    }   
}

// DARK MODE CONTENT
.layout-dark{
    .ant-layout-content{
        .back-office-content{
            background: #161616 !important;
        }
        .content-header{
            .left-content{
                >p:nth-child(1){
                    color: #DBDBDB;
                }
            }
        }
        .content-amount{
            border-bottom: 1px solid #2E2E2E;
            .left-content{
                >p:nth-child(1){
                    color: #8E8E8E !important;
                }
                >p:nth-child(2){
                    color: #DBDBDB !important;
                }
            }
            .right-content{
                >button:nth-child(1){
                    background: #161616 !important;
                    border: 1px solid #2E2E2E !important;
                    margin-right: 16px;
                    >span{
                        color: #DBDBDB !important;
                    }
                }
                >button:nth-child(2){
                    background: #161616 !important;
                    border: 1px solid #2E2E2E !important;
                }
                .switch-typhography{
                    margin-right: 16px;
                    .ant-select{
                        .ant-select-selector{
                            background: #2E2E2E !important;
                            border: 1px solid #8E8E8E !important;
                        }
                        .ant-select-selection-item{
                            font-size: 12px;
                            font-weight: 600;
                            color: #DBDBDB !important;
                        }
                        .ant-select-selection-placeholder{
                            font-size: 12px;
                            font-weight: 600;
                        }
                        .anticon{
                            >svg{
                                font-size: 10px;
                                font-weight: 600;
                                color: #DBDBDB !important;
                            }
                        }
                    }
                }
            }
        }
        .content-table-header{
            .left-content{
                color: #DBDBDB !important;
            }
            .right-content{
                border: 1px solid #2E2E2E !important;
                .left-filter-content{
                    .ant-input-affix-wrapper{
                        >input{
                            background-color: #161616 !important;
                            color: #DBDBDB !important;
                        }
                    }
                    .ant-space{
                        .ant-picker{
                            background-color: #161616 !important;
                            border: none !important;
                        }
                        .ant-picker-input{
                            >input{
                                color: #DBDBDB !important;
                            }
                        }
                        .ant-picker-range-separator{
                            >span{
                            color: #DBDBDB !important;
                            }
                        }
                    }
                    .ant-select{
                        .ant-select-selector{
                            background-color: #161616 !important;
                        }
                        .ant-select-selection-item{
                            color: #DBDBDB !important;
                        }
                        .ant-select-arrow{
                            color: #DBDBDB !important;
                        }
                    }
                }
                .right-filter-content{
                    .ant-btn > span {
                        color: #161616 !important;
                    }
                }
            }
        }
        .content-table-body{
            .ant-table-row-selected{
                .ant-table-cell{
                    background:#F9F9F9 !important;
                }
            }
            .ant-table-wrapper{
                border: 1px solid #2E2E2E !important;
                background: #161616;
                .ant-table-thead{
                    .ant-table-cell{
                        background: #2E2E2E !important;
                        border-color: #2e2e2e;
                        color: #DBDBDB !important;
                    }
                    .ant-table-cell-fix-left{
                        border-right: 0px solid #2e2e2e;
                    }
                }
                .ant-table-row:hover{
                    .ant-table-cell{
                        background-color: #1D1D1D !important;
                    }
                }
                .ant-table-header{
                    border-right: 20px solid #2E2E2E !important;
                }
                .ant-table-cell{
                    background: #161616 !important;
                    color: #F9F9F9 !important;
                }
                .ant-table-tbody > tr > td{
                    border-bottom: 1px solid #2E2E2E !important;
                    border-left: none !important;
                    border-right: none !important;
                }
                .ant-table-tbody > tr.ant-table-row-selected > td{
                    background-color: #1D1D1D !important;
                } 
            
                .ant-table-body::-webkit-scrollbar-thumb {
                    border-radius: 10px;
                    background: #8E8E8E !important;
                    border: 1px solid #8E8E8E !important;
                }
                .ant-table-body::-webkit-scrollbar {
                    width: 6px !important;
                    height: 6px !important;
                }
                .ant-table-body::-webkit-scrollbar-track {
                    background-color: #2E2E2E;
                }
                .ant-table-body::-webkit-scrollbar-corner {
                    background-color: #2E2E2E;
                }
                .ant-checkbox-inner{
                    background-color: #2E2E2E !important;
                    border-color: #8E8E8E !important;
                }
            }
        }

        .content-table-pagination{
            .ant-pagination{
                .ant-pagination-item{
                    background-color: #1D1D1D !important;
                    border: 1px solid #2E2E2E;
                    >a{
                        color: #8E8E8E !important;
                    }
                }
                .ant-pagination-item-active{
                    border: 1px solid #00AB6B;
                    >a{
                        color: #00AB6B !important;
                    }
                }
                .ant-pagination-item:hover{
                    border: 1px solid #00AB6B;
                    >a{
                        color: #00AB6B !important;
                    }
                }
                .ant-pagination-item-ellipsis{
                    color: #00AB6B;
                }
                .ant-pagination-item-link{
                    background-color: #1D1D1D;
                    border-color: #2E2E2E;
                    >span{
                        color: #8E8E8E !important;
                    }
                }
                .ant-pagination-item-link:hover{
                    border: 1px solid #00AB6B;
                    >a{
                        color: #00AB6B !important;
                    }
                }
                .ant-pagination-disabled{
                    >button{
                        background: #1D1D1D !important;
                        border: 0px solid #2E2E2E !important;
                    }
                }
                .ant-pagination-options{
                    display: none;
                }
                .ant-pagination-on-prev{
                    .ant-pagination-item-link{
                        border: 1px solid #2E2E2E !important;
                    }
                }
                .ant-pagination-on-prev.ant-pagination-disabled{
                    .ant-pagination-item-link{
                        border: 1px solid #2E2E2E !important; 
                    }
                }
            }
            .ant-dropdown-trigger{
                background-color: #1D1D1D !important;
                border: 1px solid #2E2E2E;
                .anticon-down{
                    color: #8E8E8E !important;
                }
                >span:nth-child(1){
                    color: #8E8E8E !important;
                }
            }
        }
    }
}

.ant-layout-content{
    padding: 0px 0px 0px 0px;
    z-index: 1;
    transition: 0.2s;
    height: 100%;
    overflow-y: auto;
    .back-office-content{
        padding: 24px;
        background: #ffff;
        margin: 0px;
        // min-height: calc(100vh - 290px);
        border-radius: 14px 0px 0px 14px;
        width: calc(100% - 300px);
    }
    .back-office-content.unfilter{
        padding: 24px;
        background: #ffff;
        margin: 0px;
        // min-height: calc(100vh - 290px);
        border-radius: 14px 14px 0px 0px;
        min-width: 100%;
    }
    .content-header{
        display: flex;
        justify-content: space-between;
        .left-content{
            display: flex;
            >p:nth-child(1){
                margin-right: 8px;
                font-size: 18px;
                font-weight: 700;
            }
            >span{
                color: #B5B5B5;
                font-size: 20px;
                font-weight: 500;
            }
            >p:nth-child(3){
                font-weight: 700;
                font-size: 14px;
                color: #00AB6B;
                padding: 4px 0px 0px 5px;
            }
        }
        .right-content{
            display: flex;
            align-items: center;
            >img{
                margin: -12px 5px 0px 0px;
                cursor: pointer;
            }
            >p{
                font-weight: 600;
                font-size: 12px;
                color: #00AB6B;
                cursor: pointer;
            }
        }
    }
    .content-amount{
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #EDEDED;
        .left-content{
            >p:nth-child(1){
                font-size: 14px;
                font-weight: 400;
                color: #606060;
            }
            >p:nth-child(2){
                font-size: 18px;
                font-weight: 700;
                margin-top: -12px;
            }
        }
        .right-content{
            display: flex;
            margin-top: 13px;
            >button:nth-child(1){
                margin-right: 16px;
                border: 1px solid #EDEDED;
                border-radius: 4px;
                >img{
                    margin-left: 10px;  
                }
                    }
            
            >button:nth-child(2){
                border: 1px solid #EDEDED;
                border-radius: 4px;
                
            }
            .ant-btn{
                >span{
                    font-size: 12px;
                    font-weight: 600;
                    color: #333333;
                }
            }
            .ant-btn:hover{
                border: 1px solid #333333 !important;
            }
            .switch-typhography{
                margin-right: 16px;
                .ant-select{
                    .ant-select-selector{
                        border: 1px solid #EDEDED;
                        border-radius: 4px;
                        font-size: 12px;
                        background-color: #ffff !important;
                    }
                    .ant-selector:hover{
                        border: 1px solid #3333;
                    }
                    .ant-select-selection-item{
                        font-size: 12px;
                        font-weight: 600;
                        color: #333333;
                    }
                    .ant-select-selection-placeholder{
                        font-size: 12px;
                        font-weight: 600;
                    }
                    .anticon{
                        >svg{
                            font-size: 10px;
                            font-weight: 600;
                            color: #333333;
                        }
                    }
                }
            }
        }
    }
    
    .content-table-header{
        display: flex;
        justify-content: space-between;
        margin-top: 16px;
        width: 100%;
        .left-content{
            display: flex;
            align-items: center;
            margin-top: 5px;
            font-weight: 700;
            font-size: 13px;
            color: #606060;
        }
        .right-content:hover{
            border: 1px solid #00AB6B;
        }
        .right-content:focus-within{
            border: 1px solid #00AB6B;
        }
        .right-content{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            border: 1px solid #EDEDED;
            padding: 0px 10px;
            border-radius: 6px;
            .left-filter-content{
                display: flex;
                flex-wrap: wrap;
            }
            .ant-input{
                width: 180px;
                height: 32px;
                border-radius: 4px;
                border : none !important;
                margin-top: 4px;
            }
            .ant-input-prefix{
                .anticon{
                    display: none;
                }
            }
            .ant-input-prefix::after{
                content: url('../../assets/Search.svg');
                margin-top: 3px;
                margin-right: 10px;
            }
            .anticon.search{
                color: black;
            }
            .ant-input-affix-wrapper{
                border: 1px solid white !important;
                display: contents;
            }
            .ant-input-affix-wrapper-focused{
                box-shadow: none !important;
            }
            .boundary-content{
                border-right: 1px solid #EDEDED;
                height: auto;
                margin: 12px 10px;
                z-index: 1;
            }
            .ant-space{
                width: 217px;
                border-radius: 4px;
                margin: 3px 0px 3px 6px;
                .ant-picker-range::before{
                    content:url('../../assets/picker.svg');
                    width: 34px;
                    margin: 5px 8px -2px -10px;
                    cursor: pointer;
                }
                .ant-space-item{
                    width: 237px;
                }
                .ant-picker{
                    border: 1px solid white;
                }
                .ant-picker:hover{
                    border-color: white !important;
                    box-shadow: none;
                }
                .ant-picker-focused{
                    border-color: white !important;
                    box-shadow: none;
                }
                .ant-picker-suffix{
                    display: none;
                }
                .ant-picker-separator{
                    margin-left: -15px;
                    margin-right: 10px;
                }
            }
            .ant-select{
                margin-right: -10px;
                .ant-select-selector{
                    border: none !important;
                    box-shadow: none !important;
                    margin-top: 6px;
                }
                
            }
            .ant-btn-primary{
                background: #00AB6B;
                border: none;
                border-radius: 4px;
                margin-left: 20px;
                margin-top: 5px;
                margin-right: -4px;
                
                >span{
                    font-weight: 600;
                    font-size: 12px;
                }
            }
            .ant-btn-primary:hover{
                background: #19B37A;
            }
            
        } 
    }
    .content-table-body{
        margin-top: 17px;
        .ant-table-wrapper{
            background: #FFFFFF;
            box-sizing: border-box;
            border-radius: 5px 5px 0px 5px;
            border: 1px solid #EDEDED;
            .ant-pagination{
                justify-content: flex-start !important;
                display: none;
            }  
            .ant-table-header{
                border-right: 18px solid #EDEDED!important;
            }
            .ant-table-thead{
                .ant-table-cell{
                    background: #EDEDED;
                    font-weight: 700;
                    color: #6b6b6b !important;
                    .ant-table-column-sorter-inner{
                        margin-top: 10px;
                    }
                }
                .ant-table-column-sorters{
                    padding: 0px !important;
                }
                .ant-table-cell{
                    padding: 15px;
                }
            }
            .anticon-caret-up{
                display: none;
            }
            .ant-table-cell{
                font-size: 12px !important;
                font-weight: 500;
                color: black !important;
            }
            .ant-tag{
                background: rgba(0, 171, 107, 0.1);
                color: #00AB6B;
                Font-size: 10px;
                width: 80px;
                font-weight: 600;
                height: 22px;
                text-align: center;
                border-radius: 20px;
            }
            .ant-table-tbody > tr:not(:first-child) > td{
                padding : 18px 16px !important;
            }
    
            .ant-table-body::-webkit-scrollbar {
                width: 15px !important;
                background: black !important;
                margin: 10px !important;
            }
            .ant-table-body::-webkit-scrollbar-track {
                background: white;
                width: 200px !important;
                
            }
            .ant-table-body::-webkit-scrollbar-thumb {
                background-color: #CECECE;
                border-radius: 20px;
                border: 4px solid #FFFFFF;
            }
            .ant-checkbox-wrapper-checked{
                .ant-checkbox-inner{
                    background-color: #00AB6B !important;
                    border-color: #00AB6B !important;
                }
            }
            .ant-checkbox-indeterminate{
                .ant-checkbox-inner::after{
                    background-color: #00AB6B !important;
                }
            }
            .ant-checkbox:hover .ant-checkbox-inner {
                border-color: #00AB6B;
             }
            .ant-table-tbody > tr.ant-table-row-selected > td{
                background-color: #F9F9F9 !important;
            } 
        }
    }
    .content-table-body.uncollapsed{
        .ant-table-content > table{
            width: auto !important;
        }
    }
    .content-table-pagination{
        display: flex;
        justify-content: space-between;
        margin-top: 26px;
        .ant-pagination{
            .ant-pagination-item{
                width: 32px;
                height: 32px;
                border-radius: 4px;
            }
            .ant-pagination-item-active{
                border: 1px solid #00AB6B;
                >a{
                    color: #00AB6B !important;
                }
            }
            .ant-pagination-item:hover{
                border: 1px solid #00AB6B;
                >a{
                    color: #00AB6B !important;
                }
            }
            .ant-pagination-item-ellipsis{
                color: #00AB6B;
            }
            .ant-pagination-item-link{
                width: 32px;
                height: 32px;
                border-radius: 4px;
            }
            .ant-pagination-item-link:disabled{
                background: #EDEDED;
            }
            .ant-pagination-options{
                display: none;
            }
        }
        .ant-dropdown-trigger{
            width: 63px;
            height: 32px;
            border: 1px solid #EDEDED;
            border-radius: 4px;
            font-size: 14px;
            font-weight: 700;
        }
        .ant-dropdown-trigger:hover{
            border: 1px solid #00AB6B;
            >span{
                color: #00AB6B !important;
            };
        }
    }
}
.combine-content{
    display: flex;
    margin: 90px 20px 0px 20px !important;
}
// FILTER CONTENT DARKMODE 
.filter-content-wrapper.dark-mode{
    background: #161616 !important;
    border-left: 1.5px solid #2E2E2E;
    .filter-content-show-wrapper::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: #8E8E8E !important;
        border: 1px solid #8E8E8E !important;
    }
    .filter-content-show-wrapper::-webkit-scrollbar {
        width: 3px !important;
        height: 6px !important;
    }
    .filter-content-show-wrapper::-webkit-scrollbar-track {
        background-color: #2E2E2E;
    }
    .filter-content-show{
        .filter-content-header{
            >p:nth-child(1){
                color: #DBDBDB !important;
            }
            >p:nth-child(2){
                color: #8E8E8E !important;
            }
            >p:nth-child(2):hover{
                color: #DBDBDB !important;
            }
        }
    }
    .filter-content-show-wrapper{
        .boundary-content{
            border-bottom: 1px solid #2E2E2E !important;
        }
    }
    .ant-collapse{
        .ant-collapse-header{
            color: #DBDBDB !important;
            border-bottom: 1px solid #2E2E2E !important;
            >span >svg{
                color: #8E8E8E !important;
            }
        }
        .ant-collapse-content{
            border-bottom: 1px solid #2E2E2E !important;
            .list-filter{
                color: #DBDBDB !important;
            }
        }
    }
    .reksadana-collapse{
        margin-right: 2px;
        .ant-collapse{
            .ant-collapse-item{
                background-color: #161616 !important;
                border-bottom: 1px solid #2E2E2E !important;
            }
            .ant-collapse-item-active{
                background-color: #1D1D1D !important;
            }
            .reksadana-collapse-item{
                .ant-collapse-header{
                    background-color: #161616 !important;
                    
                }
                .ant-collapse-item{
                    background-color: #161616 !important;
                    border-bottom: 1px solid black !important;
                }
                .ant-collapse-content-box{
                    background-color: #1D1D1D !important;
                }
                .ant-collapse-item-active{
                    background-color: #161616 !important;
                }
                .ant-collapse-content-active{
                    border-bottom: 1px solid #2E2E2E !important;
                    .ant-collapse-content-box{
                        background-color: #161616 !important;
                    }
                    .ant-select-selector{
                        background-color: #1D1D1D !important;
                        border: 1px solid #8E8E8E !important;
                    }
                    .ant-select-arrow{
                        color: #8E8E8E !important;
                    }
                    .ant-select{
                        .ant-select-selector:hover{
                            border-color: #19B37A !important;
                        }
                        .ant-select-selector{
                            color: #8E8E8E !important;
                        }
                    }
                    .ant-select-selector{
                        font-weight: 500 !important;
                    }
                    .ant-select-focused{
                        .ant-select-selector{
                            border-color: #19B37A !important;
                        }
                        
                    }
                }
            }
            .ant-collapse-content-box{
                background-color: #1D1D1D !important;
                
            }
            .partner-radio-sub-item{
                .ant-checkbox-wrapper{
                    border: 1px solid #8E8E8E !important;
                    background-color: #161616 !important;
                    >span:nth-child(2){
                        position: absolute;
                        left: 4px;
                        font-size: 12px;
                        font-weight: 400;
                        color: #DBDBDB !important;
                    }
                }
                .ant-checkbox-wrapper-checked{
                    border: 1px solid #00AB6B !important;
                }
                .ant-checkbox-inner{
                    background-color: #2E2E2E;
                    border-color: #8E8E8E;
                }
                .ant-checkbox-checked{
                    .ant-checkbox-inner{
                        border-color: #00AB6B !important;
                        background-color: #00AB6B !important;
                    }
                }
            }
        }
    }
    .filter-footer{
        .ant-btn{
            background-color: #161616 !important;
            border: 1px solid #8E8E8E !important;
            color: #8E8E8E !important;
        }
        .ant-btn:hover{
            border-color: #00AB6B !important;
        }
    }
}


.filter-content-wrapper{
    background: #FFFFFF !important;
    border-radius: 0px 14px 14px 0px;
    right: 20px;
    width: 300px;
    top: 96px;
    background: #ffff;
    margin: 0px;
    z-index: 10;
    resize: none;
    border-left: 1.5px solid #EDEDED;
    .content-filter-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-width: 300px;
    }
    .filter-content-show-wrapper{
        max-height: calc(100vh - 280px);
        overflow-y: auto;
        overflow-x: hidden;
    }
    .filter-content-show-wrapper::-webkit-scrollbar-thumb {
        background: #CECECE !important; 
        border-radius: 10px;
    }
    .filter-content-show-wrapper::-webkit-scrollbar {
        width: 15px !important;
        background: black !important;
        margin: 10px !important;
    }
    .filter-content-show-wrapper::-webkit-scrollbar-track {
        background: white;
        width: 200px !important;
        
    }
    .filter-content-show-wrapper::-webkit-scrollbar-thumb {
        width: 200px !important;
        width: 20px !important;
        background-color: #CECECE;
        border-radius: 20px;
        border: 4px solid #FFFFFF;
    }
    .filter-content-show-wrapper::-webkit-scrollbar-thumb:hover {
        background-color: #CECECE;
        border-radius: 20px;
        border: 4px solid #FFFFFF;
    }
    .filter-content-show{
        padding: 24px 24px 0px 17px;
        margin-bottom: -8px;
        margin-top: -10px;
        .filter-content-header{
            display: flex;
            justify-content: space-between;
            >p:nth-child(1){
                font-size: 14px;
                font-weight: 700;
            }
            >p:nth-child(2){
                margin-top: 2px;
                font-size: 12px;
                font-weight: 400;
                color: #949494;
                cursor: pointer;
            }
            >p:nth-child(2):hover{
                color: black;
            }
        }
    }
    .ant-collapse{
        font-size: 12px;
        font-weight: 600;
        .ant-collapse-header{
            border-bottom: 1px solid #EDEDED;
            
            >span >svg{
                color :#B5B5B5;
            }
        }
        .ant-collapse-content{
            border-bottom: 1px solid #EDEDED !important;
        }
        .ant-collapse-content-box{
            margin-bottom: -10px !important;
            >ul{
                color: RGBA(51,51,51,.70) !important;
                >li{
                    cursor: pointer;
                }
            }
        }
    }
    .reksadana-collapse{
        padding: 0px;
        margin-bottom: 9px;
        .filter-content-header{
            >p{
                font-size: 12px;
                font-weight: 600;
            }
        }
        .list-filter{
            background: #FFFFFF;
            margin-top: -25px;
            padding-bottom: 10px;
            width: 266px;
            border-top: 1px solid #f9f9f9;
            margin-left: -16px;
            padding-top: 14px;
        }
        .ant-collapse{
            font-size: 12px;
            font-weight: 600;
            border: none !important; 
            .ant-collapse-header{
                border-radius: 4px !important;
                border-bottom: none !important;
                >span >svg{
                    color :#B5B5B5;
                }
            }
            .ant-collapse-item{
                background:#F9F9F9;
                border: none ;
            }
        }
        .ant-collapse-item{
            background-color: white !important;
            border-bottom: 1px solid #EDEDED !important;
            
        }
        .ant-collapse-item-active{
            background-color: #F9F9F9 !important;
        }
        .reksadana-collapse-item{
            margin-top: -10px;
            .ant-collapse-item{
                background-color: #FFFFFF;
                margin-bottom: 10px;
            }
            .ant-collapse-header{
                margin-bottom: 0px;
            }
            .ant-collapse-item-active{
                background-color: #FFFFFF !important;
            }
            .ant-collapse-content-box{
                background-color: #FFFFFF !important;
                margin-bottom: 0px !important;
                margin-top: -10px;
            }
            .ant-select{
                width: 100% !important;
            }
            .ant-select{
                .ant-select-selector:hover{
                    border-color: #19B37A !important;
                }
            }
            .ant-select-selector{
                font-weight: 500 !important;
            }
            .ant-select-focused{
                .ant-select-selector{
                    border-color: #19B37A !important;
                }
                
            }
        }
        .ant-collapse-content-box{
            background-color: #F9F9F9 !important;
        }
        .ant-collapse-content{
            border: none !important;
        }
    }
    .reksadana-collapse{
        margin-right: 2px;
        .partner-radio-sub-item{
            .ant-checkbox-group{
                position: relative;
            }
            .ant-checkbox-wrapper{
                padding: 10px 12px;
                display: flex;
                justify-content: space-between;
                flex-direction: row-reverse;
                width: 261px;
                border: 1px solid #EDEDED;
                margin-bottom: 12px;
                background-color: #ffffff;
                border-radius: 4px;
                >span:nth-child(2){
                    position: absolute;
                    left: 4px;
                    font-size: 12px;
                    font-weight: 400;
                }
            }
            .ant-checkbox-wrapper-checked{
            border: 1px solid #00AB6B !important;
            }
            .ant-checkbox-wrapper:not(:first-child){
                margin-left: -1px;
            }
            .ant-checkbox-checked{
                .ant-checkbox-inner{
                    border-color: #00AB6B;
                    background-color: #00AB6B;
                }
            }
            .ant-checkbox-wrapper:hover .ant-checkbox-inner, .ant-checkbox:hover .ant-checkbox-inner, .ant-checkbox-input:focus + .ant-checkbox-inner {
                border-color: #00AB6B;
            }
            .ant-checkbox-inner{
                background-color: #EDEDED;
                border-color: #EDEDED;
                border-radius: 4px;
            }
        }
    }
    .boundary-content{
        width: 100%;
        height: 1px;
        border-bottom: 1px solid #EDEDED;
    }
    .filter-footer{
        display: flex;
        justify-content: center;
        padding: 30px 20px 50px 20px; 
        .ant-btn{
            width: 261px;
            height: 38px;
            border: 1px solid #EDEDED;
            box-sizing: border-box;
            border-radius: 4px;
            color: #333333
        }
        
    }
}
.ant-picker-range:hover{
    border: 1px solid #00AB6B !important;
}
.ant-picker-focused{
    border-color: #00AB6B !important;
}
.ant-picker-active-bar{
    background: #00AB6B !important;
}
.ant-picker-cell-range-start{
    .ant-picker-cell-inner{
        background-color: #00AB6B !important;
        border-radius: 50px !important;
    }
}
.ant-picker-cell-inner{
    font-weight: 600 !important;
}
.ant-picker-cell-range-end{
    .ant-picker-cell-inner{
        background-color: #00AB6B !important;
        border-radius: 50px !important;
    }
}
.ant-picker-cell-in-range{
    .ant-picker-cell-inner{
        background-color: #E6F7F0 !important;
        color: #00AB6B !important;
    }
    
}
.ant-picker-dropdown{
    font-size: 14px;
}
.ant-picker-header-view{
    font-weight: 700 !important;
}
.ant-picker-content th{
    font-weight: 800 !important;
}
.ant-picker-cell-today{
    .ant-picker-cell-inner::before{
        border: 1px solid #00AB6B !important;
    }
}
.ant-picker-content{
    >tbody{
        >tr>td:last-child::before{
            border-top-right-radius: 50px !important;
            border-bottom-right-radius: 50px !important;
        }
        >tr>td:first-child::before{
            border-top-left-radius: 50px !important;
            border-bottom-left-radius: 50px !important;
        }
        
        
    }
}
.ant-picker-cell-in-view.ant-picker-cell-in-range::before {
    background-color: #E6F7F0 !important;
}
//SWITCH STYLING

.sw-wrapper {
    margin-top: 18px;
    margin-right: 15px;
    width: 52px;
    height: 30px;
    border-radius: 50px;
    background-color: #aad2ee;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}
.sw-knob-mode {
    transition: left ease 0.5s;
    position: absolute;
    width: 26px;
    height: 26px;
    left: 2px;
    top: 2px;
    background: #ffffff;
    border-radius: 50px;
    box-shadow: 0px 5px 18px rgba(0, 0, 0, 0.15), 0px 3px 1px rgba(0, 0, 0, 0.06);
}
.sw-knob-mode::after {
    content: "";
    width: 4px;
    height: 4px;
    background-color: #ffffff;
    border-radius: 20px;
    position: absolute;
    left: 1em;
    top: 0.8em;
    transition: ease 0.7s;
    transition-delay: 0.5s;
    opacity: 0;
}
.sw-knob-mode::before {
    content: "";
    width: 6px;
    height: 6px;
    background-color: #ffffff;
    border-radius: 20px;
    position: absolute;
    left: 1em;
    top: 0.3em;
    transition: ease 0.2s;
    transition-delay: 0.5s;
    opacity: 0;
}
.sw-light-mode::before {
    content: "";
    width: 6px;
    height: 6px;
    background-color: #ffffff;
    border-radius: 20px;
    position: absolute;
    left: 2.6em;
    top: 0.3em;
    opacity: 1;
}

.sw-wrapper-dark {
    background: #2e2e2e;
}
.sw-dark-mode {
    left: 1.9em;
    transition: left ease 0.5s;
}
.sw-knob-dark-mode {
    transition: left ease 0.5s;
    position: absolute;
    width: 27px;
    height: 27px;
    left: 1.6em;
    top: 1px;
    background: #ffffff;
    border-radius: 50px;
    box-shadow: 0px 5px 18px rgba(0, 0, 0, 0.15), 0px 3px 1px rgba(0, 0, 0, 0.06);
    /* overflow: hidden; */
}  
.sw-knob-dark-mode-reupdate::before {
    background-color: #2e2e2e !important;
}  
.sw-knob-dark-mode::before {
    content: "";
    width: 27px;
    height: 27px;
    background-color: #ffffff;
    border-radius: 50px;
    position: absolute;
    z-index: 999;
    left: -0.5em;
    top: -0.4em;
    opacity: 1;
}  
.sw-star-dark {
    position: absolute;
    right: 1.6em;
    top: 0.2em;
    z-index: 999;
    transition: 0.3s ease;
    opacity: 1;
}  
.sw-star-dark-opacity-show {
    opacity: 1;
    transition: 1s ease-in;
}  
.sw-opacity-hide {
    opacity: 0;
    transition: 0.3s ease-out;
}  
.sw-opacity-show {
    opacity: 1;
    transition: 0.3s ease-in;
}  

@media (min-width:1500px) and (max-width:1803px) {
    .ant-table-content > table{
        min-width: 110% !important;
    }
    .content-table-body.uncollapsed{
        .ant-table-content > table{
            min-width: 130% !important;
        }
    }
    .content-table-body.uncollapsed.filter{
        .ant-table-content > table{
            min-width: 160% !important;
        }
    }
}

@media (max-width:1499px) {
    .ant-table-content > table{
        min-width: 130% !important;
    }
    .content-table-body.uncollapsed{
        .ant-table-content > table{
            min-width: 140% !important;
        }
    }
    .content-table-body.uncollapsed.filter{
        .ant-table-content > table{
            min-width: 190% !important;
        }
    }
    .content-table-header.flex{
        display: block !important;
    }
}

@media (max-width: 1240px){
    .content-table-header.uncollapsed{
        display: block !important;
    }
}

@media (min-height:719px) and (max-height: 1079px){
    .ant-table-body{
        min-height: calc(100vh - 440px) !important;
    }
    
}

@media(max-height: 718px){
    .ant-table-body{
        min-height: calc(100vh - 440px) !important;
    }
    // .filter-content-show-wrapper{
    //     max-height: 450px !important;
    // }
    .combine-content{
        min-height: 88vh;
    }
}

@media (min-height:1080px){
    .ant-table-body{
        max-height: 700px !important;
    }
    // .filter-content-show-wrapper{
    //     max-height: 650px !important;   
    // }
    .filter-footer{
        position: fixed;
        top: 907px;
    }
}



@media (max-width: 1200px){
    .content-table-header{
        display: block !important;
    }
}

@media (min-width:1804px) and (max-width:2029px){
    .ant-table-content > table{
        min-width: 100% !important;
    }
    .content-table-body.uncollapsed{
        .ant-table-content > table{
            min-width: 100% !important;
        }
    }
    .content-table-body.uncollapsed.filter{
        .ant-table-content > table{
            min-width: 120% !important;
        }
    }
}
@media (min-width:2030px) {
    .ant-table-content > table{
        min-width: 100% !important;
    }
    .content-table-body.uncollapsed{
        .ant-table-content > table{
            min-width: 100% !important;
        }
    }
    .content-table-body.uncollapsed.filter{
        .ant-table-content > table{
            min-width: 100% !important;
        }
    }
}

