.incomplete-page{
    margin: 90px 20px 0px 20px !important;
    height: 100%;
    background-color: white;
    border-radius: 14px 14px 0px 0px;
    padding: 24px;
    .content-header{
        border-bottom: 1px solid #ededed;
        padding-bottom: 40px;
    }
    .content-table-header{
        .right-content{
            .ant-input{
                width: 300px;
            }
            .ant-picker::after{
                content:url('../../../assets/picker.svg');
                width: 34px;
                margin: 6px 0px 0px 0px;
                cursor: pointer;
            }
            .ant-space-item{
                width: 150px !important;
            }
            .ant-input-preffix{
                margin-top: -2px;
            }
        }
    }
}

.layout-dark{
    .incomplete-page{
        background-color: #131313;
        .content-header{
            border-bottom: 1px solid #2e2e2e;
        }
        .content-table-header{
            .ant-input{
                background-color: #131313;
            }
            .ant-picker{
                background-color: #131313;
                border: none !important;
            }
        }
    }
}

@media (max-width : 1499px){
    .incomplete-page{
        .ant-table-content > table{
            min-width: 100% !important;
        }
    }
}